<script>
    window.wysiwygConfig = {
        contentCss: '',
        stylesSet: [
            { name: 'Strong', element: 'strong' },
        ],
        colorButton_colors: '12a3c7,0d718a,14b6de',
        format_tags: 'p;h1;h2;h3;h4',
        toolbar: [
            [
                'Format',
                'Styles',
                'TextColor',
                '-',
                'Bold',
                'Italic',
                'RemoveFormat',
                '-',
                'NumberedList',
                'BulletedList',
                '-',
                'Link',
                'Unlink',
                '-',
                'JustifyLeft',
                'JustifyCenter',
                'JustifyRight',
                '-',
                'Image',
                'Blockquote',
                '-',
                'Source',
                'Maximize'
            ]
        ],
        height: 150
    }
</script>

<script type="text/template" class="js-text-template">
    <div class="o-form__group {{statusClass}}">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="{inputName}">{name}</label>

                {{multiOpen}}
                    <textarea name="content" id="content" class="js-wysiwyg" data-format-tags="{wysiwygFormatTags}" data-colors="{wysiwygColor}" data-toolbar='{wysiwygToolbar}' data-styles-set='{wysiwygStyles}'>{value}</textarea>
                {{multiClose}}
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="{inputName}">{errorMessage}</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            {helpText}
        </div>
    </div>
</script>

<div class="o-form l-container">
    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="title">Title</label>

                <div class="o-multi js-multi">
                    <div class="o-multi__track js-multi-track">

                        <div class="o-multi__item">
                            <div class="o-multi__item-wrap">
                                <button class="o-multi__drag-handle js-multi-drag">
                                    <div class="o-multi__drag-wrap">
                                        <svg>
                                            <use xlink:href="/images/svgicons.svg#reorder"></use>
                                        </svg>
                                    </div>
                                </button>

                                <textarea name="content" id="content" data-class="js-wysiwyg" data-format-tags="p;h1" data-colors="false" data-toolbar='[
                                    [
                                        "Format",
                                        "Styles",
                                        "Bold",
                                        "Italic",
                                        "Link",
                                        "RemoveFormat",
                                        "Source"
                                    ]
                                ]' data-styles-set='[
                                    { "name": "Strong", "element": "strong" },
                                    { "name": "Text Primary", "element": "span", "attributes": { "class": "h-text--primary" } },
                                    { "name": "Button", "element": "a", "attributes": { "class": "o-btn o-btn--sm" } }
                                ]'></textarea>


                                <div class="o-multi__actions">
                                    {{> elements-confirm-button}}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="o-multi__foot">
                        <button class="o-btn o-btn--sm js-multi-add">Add</button>
                    </div>
                </div>

            </div>
            <div class="o-form-status__message o-form-status__message--centre">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>

