
		<!--DO NOT REMOVE-->
		{{{ patternLabFoot }}}
		<script src="/vendor/polyfill.min.js"></script>
		<script src="/vendor/fetch.js"></script>
		<script src="/vendor/libs.js"></script>
        <script src="/vendor/ckeditor/ckeditor.js"></script>
        <script src="/vendor/jquery.min.js"></script>
        <script src="/vendor/jstree.min.js"></script>
        <!--<script src="/js/ace/ace.js"></script>-->
        <!--<script src="/js/fancybox/jquery.fancybox.js"></script>-->
        <!--<script src="/js/accordion.js"></script>-->
        <!--<script src="/js/bootstrap.min.js"></script>-->
        <!--<script src="/js/core.js"></script>-->
        <!--<script src="/js/dropzone.min.js"></script>-->
        <!--<script src="/js/handlebars.min.js"></script>-->
        <!--<script src="/js/jquery.fancybox.pack.js"></script>-->
        <!--<script src="/js/mouse.js"></script>-->
        <!--<script src="/js/sortable.js"></script>-->
        <!--<script src="/js/tether.min.js"></script>-->
        <!--<script src="/js/widget.js"></script>-->
        <!--<script src="/js/argon.js"></script>-->

		<script src="/js/main.js"></script>
        {{! <script src="//maps.googleapis.com/maps/api/js?callback=initMap"></script> }}
	</body>
</html>
