<div class="o-combo__item">
    <div class="o-combo__header">
        <div class="o-combo__drag-handle">
            <svg>
                <use xlink:href="/images/svgicons.svg#reorder"></use>
            </svg>
        </div>
        <div class="o-combo__title">Combo Item 1</div>
        <div class="o-combo__actions">
            {{> elements-confirm-button}}
        </div>
    </div>
    <div class="o-combo__body">
        <div class="o-combo__form">
            {{> objects-combo-form}}
        </div>
    </div>
</div>
