<div class="o-form__group">
    <div class="o-form-status">
        <div class="o-form-status__input">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="Title..." value="">
        </div>
        <div class="o-form-status__message">
            <div class="o-form-status__icon">
                <div class="o-form-status__icon--error">
                    <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                </div>
                <div class="o-form-status__icon--success">
                    <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                </div>
            </div>
            <div class="o-form-status__message-bar">
                <label for="title">Error Message</label>
            </div>
        </div>
    </div>
    <div class="o-form__help-text l-full">
        <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>
</div>

<div class="o-form__group">
    <div class="o-form-status">
        <div class="o-form-status__input">
            <label for="link">link</label>

            <div class="o-form-icon">
                <div class="o-form-icon__icon">
                    <svg>
                        <use xlink:href="/images/svgicons.svg#link"></use>
                    </svg>
                </div>
                <input type="url" id="link" name="link" placeholder="eg: /contact">
            </div>
        </div>
        <div class="o-form-status__message">
            <div class="o-form-status__icon">
                <div class="o-form-status__icon--error">
                    <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                </div>
                <div class="o-form-status__icon--success">
                    <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                </div>
            </div>
            <div class="o-form-status__message-bar">
                <label for="email">Error Message</label>
            </div>
        </div>
    </div>

    <div class="o-form__text-option o-checkbox">
        <input type="hidden" name="external" class="js-toggle-value" value="0">
        <label><input type="checkbox" id="external" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
        <label for="external">External Link</label>
    </div>
</div>

<div class="o-form__group">
    <div class="o-form-status">
        <div class="o-form-status__input">
            <label for="content">Content</label>
            <textarea name="content" id="content" class="js-wysiwyg"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ea, obcaecati perspiciatis qui voluptatibus quis nesciunt cumque modi delectus tempora illo alias at minus officiis veritatis quod quidem id itaque?</p></textarea>
        </div>
        <div class="o-form-status__message">
            <div class="o-form-status__icon">
                <div class="o-form-status__icon--error">
                    <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                </div>
                <div class="o-form-status__icon--success">
                    <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                </div>
            </div>
            <div class="o-form-status__message-bar">
                <label for="content">Error Message</label>
            </div>
        </div>
    </div>
    <div class="o-form__help-text l-full">
        <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>
</div>
