<header class="c-header c-container">
    <div class="c-header__title">
        <div class="c-header__local-container">
            <h1>Edit Page</h1>
            {{> page-localisation-dropdown}}

            <div class="c-header__btns">
                <a href="#" class="o-btn o-btn--sm o-btn--primary">View page</a>
            </div>
        </div>
    </div>
    <div class="c-tab__nav">
        <ul>
            <li>
                <a class="c-tab__btn active">
                    <div class="c-tab__btn-container">
                        <span>Details</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="c-tab__btn">
                    <div class="c-tab__btn-container">
                        <span>Other</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</header>
