// colours
//===============
.h-text {
    &--primary {
        color: $primary !important;
    }

    &--primary-dark {
        color: $primary-dark !important;
    }

    &--primary-light {
        color: $primary-light !important;
    }

    &--danger {
        color: $danger !important;
    }

    &--success {
        color: $success !important;
    }

    &--active {
        color: $active !important;
    }

    &--inactive {
        color: $inactive !important;
    }

    &--grey {
        color: $grey !important;
    }

    &--grey-light {
        color: $grey-light !important;
    }

    &--grey-dark {
        color: $grey-dark !important;
    }

    &--white {
        color: #fff !important;
    }

    &--black {
        color: $black !important;
    }

    &--truncate {
        @include text-truncate;
    }

    &--nowrap {
        white-space: nowrap !important;
    }

    &--lowercase {
        text-transform: lowercase !important;
    }

    &--uppercase {
        text-transform: uppercase !important;
    }
}
