.colours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .colours div {
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #000;
    padding: 3px;
    position: relative; }
    .colours div:after {
      content: "test";
      position: absolute;
      bottom: 10px;
      left: 10px; }
  .colours .primary {
    background: #12a3c7; }
    .colours .primary:after {
      content: "$primary: #12a3c7 ";
      color: #fff; }
  .colours .primary-dark {
    background: #0d718a; }
    .colours .primary-dark:after {
      content: "$primary-dark: #0d718a ";
      color: #fff; }
  .colours .primary-light {
    background: #14b6de; }
    .colours .primary-light:after {
      content: "$primary: #14b6de ";
      color: #fff; }
  .colours .primary-offwhite {
    background: #f5fbfc; }
    .colours .primary-offwhite:after {
      content: "$primary: #f5fbfc "; }
  .colours .danger {
    background: #f66956; }
    .colours .danger:after {
      content: "$danger: #f66956 ";
      color: #fff; }
  .colours .success {
    background: #51b989; }
    .colours .success:after {
      content: "$success: #51b989 ";
      color: #fff; }
  .colours .active {
    background: #7acf47; }
    .colours .active:after {
      content: "$active: #7acf47 ";
      color: #fff; }
  .colours .inactive {
    background: #cf4747; }
    .colours .inactive:after {
      content: "$inactive: #cf4747 ";
      color: #fff; }
  .colours .grey {
    background: #b6b6b6; }
    .colours .grey:after {
      content: "$grey: #b6b6b6 ";
      color: #fff; }
  .colours .grey-light {
    background: #d8d8d8; }
    .colours .grey-light:after {
      content: "$grey-light: #d8d8d8 "; }
  .colours .grey-dark {
    background: #808080; }
    .colours .grey-dark:after {
      content: "$grey-dark: #808080 ";
      color: #fff; }
  .colours .grey-offwhite {
    background: #f6f6f6; }
    .colours .grey-offwhite:after {
      content: "$grey-offwhite: #f6f6f6 "; }
  .colours .black {
    background: #000; }
    .colours .black:after {
      content: "$black: #000 ";
      color: #fff; }
  .colours .black-light {
    background: #1f1f1f; }
    .colours .black-light:after {
      content: "$black-light: #1f1f1f ";
      color: #fff; }

.sg-background-colours > *,
.sg-colours > * {
  padding: 5px; }

.sg-anim-state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .sg-anim-state > * {
    width: 100px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    padding: 20px 0; }
  .sg-anim-state-colour {
    background-color: #12a3c7;
    color: #fff;
    -webkit-transition: background-color 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: background-color 250ms cubic-bezier(0.3, 0.15, 0.18, 1); }
    .sg-anim-state-colour:hover {
      background-color: #b6b6b6;
      -webkit-transition-duration: 400ms;
              transition-duration: 400ms; }
  .sg-anim-state-opacity {
    background-color: #12a3c7;
    color: #fff;
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: opacity 250ms cubic-bezier(0.3, 0.15, 0.18, 1); }
    .sg-anim-state-opacity:hover {
      opacity: 0;
      -webkit-transition-duration: 400ms;
              transition-duration: 400ms; }
  .sg-anim-state-translate {
    background-color: #12a3c7;
    color: #fff;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    -webkit-transform-origin: center;
            transform-origin: center; }
    .sg-anim-state-translate:hover {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
      -webkit-transition-duration: 400ms;
              transition-duration: 400ms; }

.sg-anim-emphasis {
  width: 200px;
  height: 60px;
  background-color: #12a3c7; }
  .sg-anim-emphasis svg {
    width: 35px;
    height: 35px;
    stroke: #fff; }
  .sg-anim-emphasis--right svg {
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1); }
  .sg-anim-emphasis--right:hover svg, .sg-anim-emphasis--right:focus svg {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms; }
  .sg-anim-emphasis--left svg {
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1); }
  .sg-anim-emphasis--left:hover svg, .sg-anim-emphasis--left:focus svg {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms; }
  .sg-anim-emphasis--up svg {
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1); }
  .sg-anim-emphasis--up:hover svg, .sg-anim-emphasis--up:focus svg {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms; }
  .sg-anim-emphasis--down svg {
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1); }
  .sg-anim-emphasis--down:hover svg, .sg-anim-emphasis--down:focus svg {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms; }

.sg-anim-reveal {
  width: 200px;
  height: 60px;
  background-color: #12a3c7; }
  .sg-anim-reveal svg {
    width: 35px;
    height: 35px;
    stroke: #fff; }
  .sg-anim-reveal--flip {
    position: relative; }
    .sg-anim-reveal--flip svg {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition: opacity 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
      transition: opacity 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
      transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1), opacity 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
      transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1), opacity 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1); }
      .sg-anim-reveal--flip svg:first-child {
        -webkit-transition-delay: 250ms;
                transition-delay: 250ms;
        opacity: 1; }
      .sg-anim-reveal--flip svg:last-child {
        opacity: 0;
        -webkit-transform: translate(-50%, calc(-50% + 10px));
                transform: translate(-50%, calc(-50% + 10px)); }
    .sg-anim-reveal--flip:hover svg, .sg-anim-reveal--flip:focus svg {
      -webkit-transition-duration: 400ms;
              transition-duration: 400ms; }
      .sg-anim-reveal--flip:hover svg:first-child, .sg-anim-reveal--flip:focus svg:first-child {
        -webkit-transition-delay: 0ms;
                transition-delay: 0ms;
        opacity: 0;
        -webkit-transform: translate(-50%, calc(-50% + 10px));
                transform: translate(-50%, calc(-50% + 10px)); }
      .sg-anim-reveal--flip:hover svg:last-child, .sg-anim-reveal--flip:focus svg:last-child {
        -webkit-transition-delay: 250ms;
                transition-delay: 250ms;
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }

.sg-anim-nav {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative; }
  .sg-anim-nav--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #12a3c7;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1); }
  .sg-anim-nav ul {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    -webkit-transition: opacity 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: opacity 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1), opacity 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1), opacity 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 250ms cubic-bezier(0.3, 0.15, 0.18, 1); }
  .sg-anim-nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px; }
  .sg-anim-nav:hover .sg-anim-nav--bg {
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: none;
            transform: none; }
  .sg-anim-nav:hover ul {
    -webkit-transition: opacity 400ms 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 400ms 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: opacity 400ms 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 400ms 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 400ms 250ms cubic-bezier(0.3, 0.15, 0.18, 1), opacity 400ms 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    transition: transform 400ms 250ms cubic-bezier(0.3, 0.15, 0.18, 1), opacity 400ms 250ms cubic-bezier(0.3, 0.15, 0.18, 1), -webkit-transform 400ms 250ms cubic-bezier(0.3, 0.15, 0.18, 1);
    -webkit-transform: none;
            transform: none;
    opacity: 1; }

.font {
  font-size: font-size(p);
  margin-bottom: 10px;
  font-family: "fira sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .font:after {
    content: '" - fira sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif "'; }
  .font-serif {
    margin-bottom: 10px;
    font-family: "fira sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .font-serif:after {
      content: '" - fira sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif "'; }
  .font-mono {
    margin-bottom: 10px;
    font-family: "fira code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }
    .font-mono:after {
      content: '" - fira code, SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace "'; }
  .font-norm {
    font-style: normal; }
  .font-italic {
    font-style: italic; }
  .font-100 {
    font-weight: 100; }
  .font-200 {
    font-weight: 200; }
  .font-300 {
    font-weight: 300; }
  .font-400 {
    font-weight: 400; }
  .font-500 {
    font-weight: 500; }
  .font-600 {
    font-weight: 600; }
  .font-700 {
    font-weight: 700; }
  .font-800 {
    font-weight: 800; }
  .font-900 {
    font-weight: 900; }

.ratio-test {
  background: #ccc; }
  .ratio-test-container {
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }

.svg-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .svg-list > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15%;
            flex: 1 1 15%; }

.svg-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px; }
  .svg-item * {
    pointer-events: none; }
  .svg-item--fill {
    fill: #666; }
  .svg-item--stroke {
    stroke: #666;
    stroke-width: 1px; }









/*# sourceMappingURL=styleguide.css.map */
