<div class="svg-list">
    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#add"/></svg>
        <div class="svg-name js-svg-name">#add</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#alert"/></svg>
        <div class="svg-name js-svg-name">#alert</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#arrow-down"/></svg>
        <div class="svg-name js-svg-name">#arrow-down</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#arrow-left"/></svg>
        <div class="svg-name js-svg-name">#arrow-left</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#arrow-right"/></svg>
        <div class="svg-name js-svg-name">#arrow-right</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#arrow-up"/></svg>
        <div class="svg-name js-svg-name">#arrow-up</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#bell"/></svg>
        <div class="svg-name js-svg-name">#bell</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#blocks"/></svg>
        <div class="svg-name js-svg-name">#blocks</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#callendar"/></svg>
        <div class="svg-name js-svg-name">#callendar</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#clock"/></svg>
        <div class="svg-name js-svg-name">#clock</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#crop"/></svg>
        <div class="svg-name js-svg-name">#crop</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#cross-circle"/></svg>
        <div class="svg-name js-svg-name">#cross-circle</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#cross"/></svg>
        <div class="svg-name js-svg-name">#cross</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#dashboard"/></svg>
        <div class="svg-name js-svg-name">#dashboard</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#delete"/></svg>
        <div class="svg-name js-svg-name">#delete</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#drag"/></svg>
        <div class="svg-name js-svg-name">#drag</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#duplicate"/></svg>
        <div class="svg-name js-svg-name">#duplicate</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#edit"/></svg>
        <div class="svg-name js-svg-name">#edit</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#file-input"/></svg>
        <div class="svg-name js-svg-name">#file-input</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#file"/></svg>
        <div class="svg-name js-svg-name">#file</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#files"/></svg>
        <div class="svg-name js-svg-name">#files</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#globe"/></svg>
        <div class="svg-name js-svg-name">#globe</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#graph-large"/></svg>
        <div class="svg-name js-svg-name">#graph-large</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#hamburger"/></svg>
        <div class="svg-name js-svg-name">#hamburger</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#hide"/></svg>
        <div class="svg-name js-svg-name">#hide</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#link"/></svg>
        <div class="svg-name js-svg-name">#link</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#list"/></svg>
        <div class="svg-name js-svg-name">#list</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#lock"/></svg>
        <div class="svg-name js-svg-name">#lock</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#logout"/></svg>
        <div class="svg-name js-svg-name">#logout</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#map-pin"/></svg>
        <div class="svg-name js-svg-name">#map-pin</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#media-large"/></svg>
        <div class="svg-name js-svg-name">#media-large</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#media"/></svg>
        <div class="svg-name js-svg-name">#media</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#menu"/></svg>
        <div class="svg-name js-svg-name">#menu</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#move"/></svg>
        <div class="svg-name js-svg-name">#move</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#phone"/></svg>
        <div class="svg-name js-svg-name">#phone</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#play-large"/></svg>
        <div class="svg-name js-svg-name">#play-large</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#plus-large"/></svg>
        <div class="svg-name js-svg-name">#plus-large</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#posts"/></svg>
        <div class="svg-name js-svg-name">#posts</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#redirects"/></svg>
        <div class="svg-name js-svg-name">#redirects</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#reorder"/></svg>
        <div class="svg-name js-svg-name">#reorder</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#search"/></svg>
        <div class="svg-name js-svg-name">#search</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#see"/></svg>
        <div class="svg-name js-svg-name">#see</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#select"/></svg>
        <div class="svg-name js-svg-name">#select</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#sitemap"/></svg>
        <div class="svg-name js-svg-name">#sitemap</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#success"/></svg>
        <div class="svg-name js-svg-name">#success</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#tick"/></svg>
        <div class="svg-name js-svg-name">#tick</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#upload-large"/></svg>
        <div class="svg-name js-svg-name">#upload-large</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#upload"/></svg>
        <div class="svg-name js-svg-name">#upload</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#user-permisions"/></svg>
        <div class="svg-name js-svg-name">#user-permisions</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#users-large"/></svg>
        <div class="svg-name js-svg-name">#users-large</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#users"/></svg>
        <div class="svg-name js-svg-name">#users</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#zoom-in"/></svg>
        <div class="svg-name js-svg-name">#zoom-in</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#zoom-out"/></svg>
        <div class="svg-name js-svg-name">#zoom-out</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#flip"/></svg>
        <div class="svg-name js-svg-name">#flip</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#flip-alt"/></svg>
        <div class="svg-name js-svg-name">#flip-alt</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#rotate"/></svg>
        <div class="svg-name js-svg-name">#rotate</div>
    </div>

    <div class="svg-item">
        <svg><use xlink:href="/argon/images/svgicons.svg#rotate-alt"/></svg>
        <div class="svg-name js-svg-name">#rotate-alt</div>
    </div>
</div>
