<div class="o-media-box">
    <div class="o-video js-video">
        <button class="o-video__overlay js-video-btn">
            <div class="o-video__overlay-wrap">
                <div class="o-video__overlay-image" style="background-image: url(https://picsum.photos/555/300)"></div>
                <svg>
                    <use xlink:href="/images/svgicons.svg#play"></use>
                </svg>
            </div>
        </button>
        <div class="o-video__iframe">
            <div data-youtube-id="FU-pEDpOPeU"></div>
        </div>
    </div>
</div>

