body {
    padding: 100px;
}

.row {
    margin-bottom: 100px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

input,
textarea {
    font-size: 16px;
    outline: none;
}

.form-group {
    float: left;
    clear: left;
    margin-bottom: 23px;
}

.field-group {
    float: left;
    position: relative;
    span.icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 42px;
        &.error {
            background: url('../images/ic-error.png') center / 20px 18px no-repeat;
        }
        &.search {
            background: url('../images/ic-search.png') center / 20px no-repeat;
        }
    }
}

.input {
    float: left;
    &:focus {
        border-color: #12a3c7;
    }
}

.text {
    height: 48px;
    width: 290px;
    padding: 0 11px;
    border: 1px solid $color-grey-dark;
    &.icon {
        padding-right: 53px;
    }
    &.error {
        border-color: $color-red;
    }
    &.success {
        border-color: $color-green;
    }
    &.info {
        border-color: $color-blue;
    }
    &:focus {
        border-color: $color-blue;
        + .icon {
            &.search {
                background: $color-blue url('../images/ic-search-w.png') center / 20px no-repeat;
            }
        }
    }
}

.textarea {
    height: auto;
    padding: 9px 11px;
}

.checkbox {
    margin: 0;
    label {
        height: 24px;
        line-height: 24px;
        padding: 0;
        font-size: 16px;
        input {
            display: none;
            + span {
                display: block;
                float: left;
                height: 24px;
                width: 24px;
                border: 1px solid $color-grey-dark;
                margin-right: 10px;
            }
            &:checked + span {
                border-color: $color-blue;
                background: url('../images/ic-tick.png') center / 13px 11px no-repeat;
            }
        }
        &:hover {
            input + span {
                border-color: $color-blue;
            }
        }
    }
}

.button {
    min-width: 130px;
    height: 48px;
    padding: 0 20px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 600;
    color: $color-white;
    background-color: $color-blue;
    border: none;
    &:hover {
        background-color: $color-primary-accent;
    }
    &.grey {
        background-color: $color-grey-accent;
        &:hover {
            background-color: $color-secondary-accent;
        }
    }
    &:disabled {
        background-color: $color-grey-light;
        &:hover {
            background-color: $color-grey-light;
        }
    }
    &:focus {
        outline: none;
    }
}

.form-alert {
    float: left;
    padding: 10px 14px;
    margin-left: 20px;
    color: $color-white;
    &.error {
        background-color: $color-red;
    }
    &.success {
        background-color: $color-green;
    }
    &.info {
        background-color: $color-blue;
    }
}

.select2-container--default {
    font-size: 16px;
    .select2-selection--single {
        height: 48px;
        border-radius: 0;
        border: 1px solid $color-grey-dark;
        outline: none;
        .select2-selection__rendered {
            height: 46px;
            line-height: 46px;
            padding: 0 11px;
        }
        .select2-selection__arrow {
            height: 46px;
            width: 42px;
            background: url('../images/ic-arrow-d.png') center / 14px 8px no-repeat;
            b {
                display: none;
            }
        }
        .select2-selection__placeholder {
            color: $color-grey-accent;
        }
    }
    .select2-results {
        margin-top: -1px;
    }
    .select2-results__option {
        height: 40px;
        line-height: 40px;
        padding: 0 11px;
        background-color: $color-grey-light;
        border-top: 1px solid $color-blue;
        &[aria-selected=true] {
            background-color: $color-blue;
            color: $color-white;
        }
    }
    .select2-results__option--highlighted[aria-selected] {
        background-color: $color-blue;
        color: $color-white;
    }
    &.select2-container--focus {
        .select2-selection__arrow {
            background: $color-blue url('../images/ic-arrow-d-w.png') center / 14px 8px no-repeat;
        }
        .select2-selection--single {
            border-color: $color-blue;
        }
    }
}

.select2-dropdown {
    border: 1px solid $color-blue;
    border-radius: 0;
}

::-webkit-input-placeholder {
    color: $color-grey-accent;
}

::-moz-placeholder {
    color: $color-grey-accent;
}

:-ms-input-placeholder {
    color: $color-grey-accent;
}

:-moz-placeholder {
    color: $color-grey-accent;
}
