$color-white: #ffffff;

$color-text: #2a2a2a;

$color-grey-light: #f0f0f0;
$color-grey-accent: #b6b6b6;
$color-grey: #e1e1e1;
$color-grey-dark: #d8d8d8;

$color-blue: #12a3c7;
$color-red: #f66956;
$color-green: #51b989;

$color-primary-accent: #1092b3;
$color-secondary-accent: #808080;

$text-size-sm: 14px;
