<button class="o-btn">btn</button> &nbsp; <button class="o-btn" disabled>btn disabled</button>
<br>
<br>
<button class="o-btn o-btn--primary">btn</button> &nbsp; <button class="o-btn o-btn--primary" disabled>btn disabled</button>
<br>
<br>
<button class="o-btn o-btn--danger">btn</button> &nbsp; <button class="o-btn o-btn--danger" disabled>btn disabled</button>
<br>
<br>
<button class="o-btn o-btn--success">btn</button> &nbsp; <button class="o-btn o-btn--success" disabled>btn disabled</button>
<br>
<br>
<button class="o-btn o-btn--light-grey">btn</button> &nbsp; <button class="o-btn o-btn--light-grey" disabled>btn disabled</button>
<br>
<br>
<button class="o-btn o-btn--sm">btn sm</button> &nbsp; <button class="o-btn o-btn--sm" disabled>btn disabled</button>
