<button class="o-icon-btn">
    <div class="o-icon-btn__icon">
        <svg>
            <use xlink:href="/argon/images/svgicons.svg#tick"></use>
        </svg>
    </div>
    <div class="o-icon-btn__label">Save</div>
</button>
