<script type="text/template" class="tp-button">
    {multiTop}
    <div class="o-form__vertical-list">
        <div class="o-form-icon">
            <div class="o-form-icon__icon">
                <span>Lat</span>
            </div>
            <input type="text" id="{latInputName}" name="{latInputName}" data-name="{latDataName}" data-input-item-name="latitude" value="{latValue}">
        </div>
        <div class="o-form-icon">
            <div class="o-form-icon__icon">
                <span>Lng</span>
            </div>
            <input type="text" id="{lngInputName}" name="{lngInputName}" data-name="{lngDataName}" data-input-item-name="longitude" value="{lngValue}">
        </div>
    </div>
    {multiBot}
</script>
