<script type="text/template" class="tp-multi-top">
    <div class="o-multi js-multi">
        <div class="o-multi__track js-multi-track">

            <div class="o-multi__item">
                <div class="o-multi__item-wrap">
                    <button class="o-multi__drag-handle js-multi-drag">
                        <div class="o-multi__drag-wrap">
                            <svg>
                                <use xlink:href="/images/svgicons.svg#reorder"></use>
                            </svg>
                        </div>
                    </button>
</script>

<script type="text/template" class="tp-multi-bottom">
                    <div class="o-multi__actions">
                        {{> elements-confirm-button}}
                    </div>
                </div>
            </div>

        </div>
        <div class="o-multi__foot">
            <button class="o-btn o-btn--sm js-multi-add">Add</button>
        </div>
    </div>
</script>
