<script>
    window.fieldGroups = window.fieldGroups || {}
    window.fieldGroups['testing-group'] = {

        '392': {
            options: {
                typeKey: 'text',
                name: 'Titles',
                settings: {
                    required: 0,
                    multiline: 0,
                    multiple: 1,
                    minlength: null,
                    maxlength: null,
                    url: 0,
                    integer: 0,
                    float: 0,
                    email: 0,
                    phone: 0
                }
            },
            values: [
                'First Title',
                'My Second Title',
                'Hello Thirds'
            ],
            errors: [],
            helpText: '<p>Some help text</p>', //new
            // for message before input using description type, for event html return
            message: "<h2>Testing message</h2><p>here is a <a href=\"www.the-escape.co.uk\" target=\"_blank\">link</p>"
        },

        '393': {
            options: {
                typeKey: 'combo',
                name: 'Combo Test',
                settings: {
                    multiple: 1
                }
            },
            field: {
                '395': {
                    options: {
                        typeKey: 'text',
                        name: 'Text Stuff',
                        settings: {
                            required: 0,
                            multiline: 0,
                            multiple: 1,
                            minlength: null,
                            maxlength: null,
                            url: 0,
                            integer: 0,
                            float: 0,
                            email: 0,
                            phone: 0
                        }
                    },
                    values: [
                        'test 1',
                        'test 2'
                    ],
                    errors: [],
                    message: '',
                    helpText: '<p>Some help text</p>', //new
                },
                '396': {
                    options: {
                        typeKey: 'text',
                        name: 'Url',
                        settings: {
                            required: 0,
                            multiline: 0,
                            multiple: 0,
                            minlength: null,
                            maxlength: null,
                            url: 1,
                            integer: 0,
                            float: 0,
                            email: 0,
                            phone: 0
                        }
                    },
                    values: [
                        '/contact'
                    ],
                    errors: [],
                    message: '',
                    helpText: '<p>Some help text</p>', //new
                }
            },
            message: '',
            helpText: '<p>Some help text</p>', //new
        },

        '398': {
            options: {
                typeKey: 'text',
                name: 'Error Test',
                settings: {
                    required: 0,
                    multiline: 0,
                    multiple: 0,
                    minlength: null,
                    maxlength: null,
                    url: 0,
                    integer: 0,
                    float: 0,
                    email: 0,
                    phone: 0
                }
            },
            values: [],
            errors: ['Field is required'],
            message: '',
            helpText: '<p>Some help text</p>', //new
        }

    }
</script>
<div data-group-id="testing-group"></div>
