.media-item {
    display: inline-block;
    margin: 10px 20px;
    font-size: 12px;

    .thumb {
	display: block;
	margin: 0 auto;
    }

    .filename {
	display: block;
    }

    .filesize {
	color: #666;
	display: block;
	font-size: 10px;
    }

    .dz-progress {

    }

    &.dz-error {
	background: red;
    }

    .btn {
	font-size: 12px;
	padding: 3px;

	&::after {
	    display: none;
	}
    }
}


.media-library-sidebar {
    .buttons {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	background: red;

	button {
	    width: 50%;
	    float: left;
	    border-radius: 0;

	    &:first-child {
		border-right: 1px solid #000;
	    }
	}
    }
}
