<script>
    window.fieldGroups = window.fieldGroups || {}
    window.fieldGroups['testing-group'] = [
        {
            id: '100',
            options: {
                typeKey: 'datetime',
                name: 'Date Time 1',
                settings: {
                    required: 0,
                    time: 1,
                    seconds: 0,
                    default: 1,
                    range: 0 // new
                }
            },
            values: ['2017-06-03 14:23:44'],
            errors: [],
            helpText: '<p>Some help text</p>', //new
            // for message before input using description type, for event html return
            message: "<p><strong class=\"h-text--primary-dark\">Title Here</strong><br>here is a <a href=\"www.the-escape.co.uk\" target=\"_blank\">link</a></p>",
            messageAfter: "<p><strong class=\"h-text--primary-dark\">After message</strong><br>here is a <a href=\"www.the-escape.co.uk\" target=\"_blank\">link</a></p>"
        },

        {
            id: '101',
            options: {
                typeKey: 'datetime',
                name: 'Date Time 2',
                settings: {
                    required: 0,
                    time: 0,
                    seconds: 0,
                    default: 0,
                    range: 1 // new
                }
            },
            values: [],
            errors: [],
            helpText: '<p>Date Range, click start and end dates</p>', //new
            // for message before input using description type, for event html return
            message: "",
            messageAfter: ""
        },

        {
            id: '102',
            options: {
                typeKey: 'combo',
                name: 'Combo Test',
                comboAddName: 'Date Item',
                settings: {
                    multiple: 1
                }
            },
            values: [
                {
                    '200': ['2017-06-03 14:23:44'],
                    '201': ['2018-02-03 08:13:56']
                }
            ],
            errors: [],
            fields: [
                {
                    id: '200',
                    options: {
                        typeKey: 'datetime',
                        name: 'datetime 1',
                        settings: {
                            required: 0,
                            time: 1,
                            seconds: 0,
                            default: 1,
                            range: 0 // new
                        }
                    },
                    helpText: '<p>Some help text</p>'
                },
                {
                    id: '201',
                    options: {
                        typeKey: 'datetime',
                        name: 'datetime 2',
                        settings: {
                            required: 0,
                            time: 0,
                            seconds: 0,
                            default: 1,
                            range: 0 // new
                        }
                    },
                    helpText: '<p>Some help text</p>'
                }
            ],
            helpText: '<p>Some help text</p>',
            message: "<p><strong class=\"h-text--primary-dark\">Title Here</strong><br>here is a <a href=\"www.the-escape.co.uk\" target=\"_blank\">link</a></p>",
            messageAfter: "<p><strong class=\"h-text--primary-dark\">After message</strong><br>here is a <a href=\"www.the-escape.co.uk\" target=\"_blank\">link</a></p>"
        }
    ]
</script>
<div class="o-form l-container js-temple-forms" data-group-id="testing-group">
</div>

{{> forms-combined-templates}}
