<script>
    window.fieldGroups = window.fieldGroups || {}
    window.fieldGroups['testing-group'] = [
        {
            id: '100',
            options: {
                typeKey: 'item',
                name: 'item 1',
                settings: {
                    required: false,
                    multiple: false,
                    multiple_instances: false,
                    items: "", // not useful
                    options: [ // new
                        {'key': 'value'},
                        {'page name': '123'},
                        {'page2': '456'}
                    ]
                }
            },
            values: ['value'],
            errors: [],
            helpText: '<p>Some help text</p>', //new
            // for message before input using description type, for event html return
            message: "<p><strong class=\"h-text--primary-dark\">Title Here</strong><br>here is a <a href=\"www.the-escape.co.uk\" target=\"_blank\">link</a></p>",
            messageAfter: "<p><strong class=\"h-text--primary-dark\">After message</strong><br>here is a <a href=\"www.the-escape.co.uk\" target=\"_blank\">link</a></p>"
        },

        {
            id: '101',
            options: {
                typeKey: 'item',
                name: 'item 2',
                settings: {
                    required: false,
                    multiple: true,
                    multiple_instances: false,
                    items: "", // not useful
                    options: [ // new
                        {'key': 'value'},
                        {'page name': '123'},
                        {'page2': '456'}
                    ]
                }
            },
            values: ['123', '456'],
            errors: [],
            helpText: '<p>Some help text</p>', //new
            // for message before input using description type, for event html return
            message: "",
            messageAfter: ""
        },

        {
            id: '102',
            options: {
                typeKey: 'item',
                name: 'item 2',
                settings: {
                    required: false,
                    multiple: false,
                    multiple_instances: true,
                    items: "", // not useful
                    options: [ // new
                        {'key': 'value'},
                        {'page name': '123'},
                        {'page2': '456'}
                    ]
                }
            },
            values: ['value', '456'],
            errors: [],
            helpText: '<p>Some help text</p>', //new
            // for message before input using description type, for event html return
            message: "",
            messageAfter: ""
        },

        {
            id: '103',
            options: {
                typeKey: 'combo',
                name: 'Combo Test',
                comboAddName: 'Date Item',
                settings: {
                    multiple: 1
                }
            },
            values: [
                {
                    '200': ['456'],
                    '201': ['value', '456'],
                    '202': ['value', '456']
                }
            ],
            errors: [],
            fields: [
                {
                    id: '200',
                    options: {
                        typeKey: 'item',
                        name: 'item 1',
                        settings: {
                            required: false,
                            multiple: false,
                            multiple_instances: false,
                            items: "", // not useful
                            options: [ // new
                                {'key': 'value'},
                                {'page name': '123'},
                                {'page2': '456'}
                            ]
                        }
                    },
                    helpText: '<p>Some help text</p>'
                },
                {
                    id: '201',
                    options: {
                        typeKey: 'item',
                        name: 'item 2',
                        settings: {
                            required: false,
                            multiple: true,
                            multiple_instances: false,
                            items: "", // not useful
                            options: [ // new
                                {'key': 'value'},
                                {'page name': '123'},
                                {'page2': '456'}
                            ]
                        }
                    },
                    helpText: '<p>Some help text</p>'
                },
                {
                    id: '202',
                    options: {
                        typeKey: 'item',
                        name: 'item 2',
                        settings: {
                            required: false,
                            multiple: false,
                            multiple_instances: true,
                            items: "", // not useful
                            options: [ // new
                                {'key': 'value'},
                                {'page name': '123'},
                                {'page2': '456'}
                            ]
                        }
                    },
                    helpText: '<p>Some help text</p>'
                }
            ],
            helpText: '<p>Some help text</p>',
            message: "<p><strong class=\"h-text--primary-dark\">Title Here</strong><br>here is a <a href=\"www.the-escape.co.uk\" target=\"_blank\">link</a></p>",
            messageAfter: "<p><strong class=\"h-text--primary-dark\">After message</strong><br>here is a <a href=\"www.the-escape.co.uk\" target=\"_blank\">link</a></p>"
        }
    ]
</script>
<div class="o-form l-container js-temple-forms" data-group-id="testing-group">
</div>

{{> forms-combined-templates}}
