<script>
    window.fieldGroups = window.fieldGroups || {}
    window.fieldGroups['testing-group'] = [
        {
            "id": 109,
            "options": {
                "typeKey": "wysiwyg",
                "name": "Wysiwyg",
                "settings": {
                    "required": false,
                    "multiple": false,
                    "minlength": 0,
                    "maxlength": 0,
                    "height": 150,
                    "source": true,
                    "format": true,
                    "h1": "1",
                    "h2": "1",
                    "h3": "1",
                    "h4": "1",
                    "h5": "0",
                    "h6": "0",
                    "styles": true,
                    "fontsize": false,
                    "bold": true,
                    "italic": true,
                    "blockquote": true,
                    "numberedlist": true,
                    "bulletedlist": true,
                    "image": true,
                    "table": true,
                    "link": true,
                    "unlink": true,
                    "iframe": true
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": ""
            "values": [
                "<h2>Like the sound of Stopgap?<\/h2>\r\n\r\n<h3>Why not partner with us?<\/h3>\r\n\r\n<p>We are committed to collaborative working.&nbsp;That&rsquo;s why we partner with a number of professional bodies, academic institutions, charities and other organisations for the benefit of our staff, candidates and employers.&nbsp;Since 1993,&nbsp;we have provided help and advice, run events and sponsored like-minded organisations.&nbsp;<\/p>\r\n\r\n<p>If you would like to discuss partnerships opportunities, please call Joanna Knight.<\/p>\r\n"
            ],
            "errors": []
        }
    ]
</script>
<div class="o-form l-container js-temple-forms" data-group-id="testing-group">
</div>

{{> forms-combined-templates}}
