<div class="l-container l-full typography c-scroll-anim--fade-up js-scroll-anim">
    <h1>Test scroll animation fade up</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quos sit voluptate veniam odio aperiam similique obcaecati quas aut mollitia fugit, rem consequatur repellat exercitationem nihil quod quibusdam deleniti maiores?</p>
    <button class="o-btn">Button</button>
</div>
