<div class="sg-colours">
    <div class="h-text--primary">primary</div>
    <div class="h-text--primary-dark">primary-dark</div>
    <div class="h-text--primary-light">primary-light</div>
    <div class="h-text--danger">danger</div>
    <div class="h-text--success">success</div>
    <div class="h-text--active">active</div>
    <div class="h-text--inactive">inactive</div>
    <div class="h-text--grey">grey</div>
    <div class="h-text--grey-light h-background--primary">grey-light</div>
    <div class="h-text--grey-dark">grey-dark</div>
    <div class="h-text--white h-background--primary">white</div>
    <div class="h-text--black">black</div>
</div>
