<div class="sg-background-colours">
    <div class="h-background--primary">primary</div>
    <div class="h-background--primary-dark">primary-dark</div>
    <div class="h-background--primary-light">primary-light</div>
    <div class="h-background--primary-offwhite">primary-offwhite</div>
    <div class="h-background--danger">danger</div>
    <div class="h-background--success">success</div>
    <div class="h-background--active">active</div>
    <div class="h-background--inactive">inactive</div>
    <div class="h-background--grey">grey</div>
    <div class="h-background--grey-light">grey-light</div>
    <div class="h-background--grey-dark">grey-dark</div>
    <div class="h-background--grey-offwhite">grey-offwhite</div>
    <div class="h-background--grey-white">grey-white</div>
    <div class="h-background--black h-text--white">black</div>
    <div class="h-background--black-light h-text--white">black-light</div>
    <div class="h-background--white">white</div>
</div>


