.blocks {
  background-color: $color-grey-light;
  border: 1px solid $color-grey-dark;
  margin-top: 30px;
  float: left;
  width: 100%;
  .form__group {
    margin: 0;
    border-bottom: 1px solid $color-grey-dark;
    .form__text {
      border: none;
    }
  }
  .block__container {
    height: 500px;
    overflow: scroll;
    float: left;
    width: 100%;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    &#blocks-all {
      .block {
        .block__add {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 60px;
          background: url('../img/placeholder.png') center / 23px no-repeat;
          &:hover {
            background-color: $color-blue;
          }
        }
      }
    }
    &#blocks-selected {
      .block:hover {
        .block__edit {
          width: 70%;
        }
        .block__actions {
          width: 30%;
        }
      }
    }
    .block {
      position: relative;
      float: left;
      width: 100%;
      border-bottom: 1px solid $color-grey-dark;
      background-color: $color-white;
      height: 60px;
      cursor: move;
      &.block--ghost {
        background-color: $color-grey-light;
      }
      &.block--hidden {
        display: none;
      }
      .block__edit {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1px;
        width: 0;
        background-color: $color-blue;
        color: $color-white;
        border-right: 1px solid $color-grey-dark;
        line-height: 60px;
        text-align: center;
        transition: width .3s;
        overflow: hidden;
      }
      .block__add {
        display: none;
      }
      .block__actions {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0;
        line-height: 60px;
        text-align: center;
        transition: width .3s;
        overflow: hidden;
        background: $color-white;
        .drag {
          width: 18px;
          height: 12px;
          background: url('../img/blocks/drag.png') center / 18px 12px no-repeat;
          display: inline-block;
        }
        .delete {
          width: 18px;
          height: 12px;
          background: url('../img/placeholder.png');
          display: inline-block;
          margin-right: 10px;
        }
      }
      .block__img {
        float: left;
        height: 59px;
        width: 120px;
        border-right: 1px solid $color-grey-dark;
        background-color: $color-white;
      }
      .block__title {
        float: left;
        height: 60px;
        line-height: 60px;
        padding: 0 10px;
      }
    }
  }
}
