.media {
  min-height: 900px;
  margin-top: 30px;
  position: relative;
  border: 1px solid $color-grey-dark;
  .media__tree {
    width: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 1px solid $color-grey-dark;
    overflow: scroll;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        .media__folder {
          display: block;
          width: 100%;
          padding: 5px 5px 5px 40px;
          border-bottom: 1px solid $color-grey-dark;
          background: url('/argon/assets/img/icons/folder.svg') 10px center / 20px 14px no-repeat;
          color: $color-text;
          &.media__folder--active {
            background-color: $color-grey-dark;
          }
          &:hover {
            background-color: $color-grey-dark;
          }
        }
      }
    }
  }
  .media__header {
    float: left;
    width: 100%;
    padding: 30px 30px 40px;
    .form__group {
      margin: 0;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-grey-dark;
      width: 100%;
      float: left;
      clear: none;
      &:first-child {

      }
    }
  }
  .media__actions {
    float: left;
    width: 100%;
    padding: 20px 0 0;
    h1 {
      float: left;
      margin: 0;
      line-height: 24px;
    }
    a {
      float: right;
    }
  }
  .media__browser {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 25%;
    overflow: scroll;
  }
  .media__items {
    width: 100%;
    float: left;
  }
  @media (min-width: 992px) {
    .media__grid:nth-child(6n+7) {
      clear: left;
    }
  }
  @media (max-width: 992px) {
    .media__grid:nth-child(4n+5) {
      clear: left;
    }
  }
  .media__item {
    float: left;
    width: 86px;
    text-align: center;
    margin: 0 30px 30px;
    line-height: 18px;
  }
  .media__name {
    display: block;
    height: 36px;
    word-break: break-all;
  }
  .media__asset {
    width: 86px;
    height: 86px;
    display: block;
    margin-bottom: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &.media__asset--folder {
      background-image: url('/argon/assets/img/icons/folder.svg');
      background-size: contain;
      background-position: center bottom;
    }
  }
}
