<div class="l-container l-full o-form">
    <div class="o-form__group">
        <div class="o-form__set">
            <div class="o-form__set-title">
                <label for="fields[15][0][label]">Button</label>
            </div>

            <div class="o-form__set-container">
                <div class="o-form__group">
                    <div class="o-form-status">
                        <div class="o-form-status__input">
                            <label for="fields[15][0][label]">Label</label>
                            <input type="text" id="fields[15][0][label]" name="fields[15][0][label]">
                        </div>
                        <div class="o-form-status__message">
                            <div class="o-form-status__icon"></div>
                            <div class="o-form-status__message-bar"><label for="title"></label></div>
                        </div>
                    </div>
                </div>
                <div class="o-form__group">
                    <div class="o-form-status">
                        <div class="o-form-status__input">
                            <label for="fields[15][0][url]">Url</label>
                            <input type="text" id="fields[15][0][url]" name="fields[15][0][url]">
                        </div>
                        <div class="o-form-status__message">
                            <div class="o-form-status__icon"></div>
                            <div class="o-form-status__message-bar"><label for="title"></label></div>
                        </div>
                    </div>
                </div>

                <div class="o-form__set-accordion">
                    <div class="o-form__set-accordion-container">
                        <div class="o-form__group">
                            <div class="o-form-status">
                                <div class="o-form-status__input">
                                    <label for="fields[15][0][class]">Class</label>
                                    <input type="text" id="fields[15][0][class]" name="fields[15][0][class]">
                                </div>
                                <div class="o-form-status__message">
                                    <div class="o-form-status__icon"></div>
                                    <div class="o-form-status__message-bar"><label for="title"></label></div>
                                </div>
                            </div>
                        </div>
                        <div class="o-form__group">
                            <div class="o-form-status">
                                <div class="o-form-status__input">
                                    <label for="fields[15][0][id]">ID</label>
                                    <input type="text" id="fields[15][0][id]" name="fields[15][0][id]">
                                </div>
                                <div class="o-form-status__message">
                                    <div class="o-form-status__icon"></div>
                                    <div class="o-form-status__message-bar"><label for="title"></label></div>
                                </div>
                            </div>
                        </div>
                        <div class="o-form__group">
                            <div class="o-form-status">
                                <div class="o-form-status__input">
                                    <label for="fields[15][0][target]">Target</label>
                                    <input type="text" id="fields[15][0][target]" name="fields[15][0][target]">
                                </div>
                                <div class="o-form-status__message">
                                    <div class="o-form-status__icon"></div>
                                    <div class="o-form-status__message-bar"><label for="title"></label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="o-btn o-btn--sm">less options</button>
            </div>
        </div>
    </div>
</div>
