.o-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: $black;
    border-radius: 50%;
    cursor: pointer;

    > * {
        pointer-events: none;
    }

    svg {
        width: 12px;
        height: 12px;
    }
}
