.o-media-box {
    position: relative;

    &--hover {
        overflow: hidden;
    }

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: ratio(555, 300);
    }

    &--md:before {
        padding-bottom: ratio(555, 400);
    }

    &--lg:before {
        padding-bottom: ratio(1140, 650);
    }

    > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &--contain &__image {
        background-size: contain;
    }

    &--hover > * {
        transition: transform $userInactive $easeOut;
    }

    &--hover:hover > *,
    &--hover-trigger:hover & > * {
        transform: scale(1.1);
        transition-duration: $userActive;
    }

    &__map {
        > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
