.o-table {
    &,
    &__headers,
    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &--tree {
        display: block;
    }

    &--center {
        justify-content: center;
        text-align: center;
    }

    &--end {
        justify-content: flex-end;
        text-align: right;
    }

    &__headers,
    &__row {
        width: 100%;

        > * {
            padding-right: 15px;
        }
    }

    @for $i from 1 through 15 {
        &--#{$i},
        &--tree-#{$i} &__headers,
        &--tree-#{$i} &__row {
            > * {
                flex: 1 1 #{100% / ($i + 1)};
                flex-basis: calc(#{100% / ($i + 1)} - 15px);

                &:nth-child(#{$i + 2}n + #{$i + 1}) {
                    flex: 1 1 #{(100% / ($i + 1)) / 2};
                    flex-basis: calc(#{(100% / ($i + 1)) / 2} - 15px);
                }

                &:nth-child(#{$i + 2}n) {
                    flex: 1 1 #{(100% / ($i + 1)) / 2};
                }
            }
        }
    }

    // &__row &__data {
    //     transition: background-color $userActive $easeOut;
    // }

    // &__row:hover > &__data {
    //     background-color: $grey-offwhite;
    // }
    &--tree &__row &__data:first-child {
        padding-left: 15px;
    }

    &--tree &__row--children &__data:first-child {
        padding-left: 30px;
    }

    &__row--children > &__data:first-child {
        padding-left: 30px;
    }

    &__dropdown {
        flex: 1 1 100% !important;
        height: 0;
        will-change: height;
        transition: height $userInactive $easeOut;
        padding: 0;

        &-wrap {
            border-bottom: 1px solid $grey;
            background-color: $grey-offwhite;
            padding: 10px 15px;
            display: flex;
            justify-content: flex-end;
        }

        &.is-active {
            height: auto;
            transition: height $userActive $easeOut;
        }
    }

    &__header,
    &__data {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__header {
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $black-light;
        padding-right: 10px;
        white-space: nowrap;
        border-bottom: 1px solid $grey;

        a {
            color: $black-light;
        }
    }

    &__data {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $grey;
    }

    &--tree &__row {
        position: relative;
    }

    &__children {
        padding-left: 45px;
        padding-right: 0;
        flex: 1 1 100% !important;
    }

    &__child-btn {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 30px;
        height: 66px;

        svg {
            width: 15px;
            height: 15px;
            transform: rotateZ(-90deg);
            transition: transform $userActive $easeOut;
        }

        &.is-active svg {
            transform: none;
        }

        &--tree {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__child-btn + &__data {
        padding-left: 30px;
    }
}

@supports (display: grid) {
    .o-table {
        &,
        &__headers,
        &__row {
            display: grid;
        }

        &--tree {
            display: block;
        }

        &--1 {
            grid-template-columns: minmax(0, 100%) 115px 140px;
        }

        &--tree-1 &__headers,
        &--tree-1 &__row {
            grid-template-columns: minmax(0, 100%) 150px 140px;
        }

        @for $i from 2 through 15 {
            &--#{$i} {
                grid-template-columns:
                    minmax(0, 100%)
                    repeat(#{$i - 1}, minmax(0, 700px)) 115px 140px;
            }

            &--tree-#{$i} &__headers,
            &--tree-#{$i} &__row {
                grid-template-columns:
                    minmax(0, 100%)
                    repeat(#{$i - 1}, minmax(0, 700px)) 150px 140px;
            }
        }

        &__children,
        &__dropdown {
            grid-column: 1 / -1;
        }
    }
}
