<main class="c-container l-full">
    <div class="c-cropper js-cropper">
        <div class="l-full">
            <input type="file" class="js-cropper-int">
        </div>

        <div class="l-two-thirds">
            <div>
                <div class="c-cropper__container">
                    <div class="js-cropper-container"></div>
                </div>
                <div class="c-cropper__toolbar">
                    <button class="c-cropper__btn" data-task="drag-image">drag image</button>
                    <button class="c-cropper__btn" data-task="drag-crop">drag crop</button>
                    <button class="c-cropper__btn" data-task="zoom-in">zoom in</button>
                    <button class="c-cropper__btn" data-task="zoom-out">zoom out</button>
                    <button class="c-cropper__btn" data-task="set-ratio" data-ratio="16:9">16:9</button>
                    <button class="c-cropper__btn" data-task="set-ratio" data-ratio="4:3">4:3</button>
                    <button class="c-cropper__btn" data-task="set-rotate" data-rotate="0">reset rotate</button>
                    <div class="c-cropper__rotate js-cropper-rotate"></div>
                </div>
            </div>
            <div>
                <div class="js-cropper-out-preview c-cropper__preview"></div>
            </div>
        </div>
    </div>
</main>


