<div class="o-form l-container">
    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form__list">
                <div class="o-checkbox">
                    <input type="hidden" name="check" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <span><a href="\">Link</a></span>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="o-form__group has-error">
        <div class="o-form-status">
            <div class="o-form__list">
                <div class="o-checkbox">
                    <input type="hidden" name="check1" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check1" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check1">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check2" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check2" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check2">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check3" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check3" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check3">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check4" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check4" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check4">Checkbox</label>
                </div>
            </div>

            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="o-form__group has-success">
        <div class="o-form-status">
            <div class="o-form__list">
                <div class="o-checkbox">
                    <input type="hidden" name="check5" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check5" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check5">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check6" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check6" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check6">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check7" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check7" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check7">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check8" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check8" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check8">Checkbox</label>
                </div>
            </div>

            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title2">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form__grid">
                <div class="o-checkbox">
                    <input type="hidden" name="check9" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check9" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check9">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check10" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check10" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check10">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check11" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check11" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check11">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check12" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check12" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check12">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check13" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check13" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check13">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check14" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check14" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check14">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check15" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check15" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check15">Checkbox</label>
                </div>
                <div class="o-checkbox">
                    <input type="hidden" name="check16" class="js-toggle-value" value="0">
                    <label><input type="checkbox" id="check16" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
                    <label for="check16">Checkbox</label>
                </div>
            </div>

            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title2">Error Message</label>
                </div>
            </div>
        </div>
    </div>

</div>

