<div class="o-form l-container">

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="color">Choose Color</label>
                <div class="o-item-picker o-item-picker--color js-item-picker" data-color="true">
                    <button class="o-item-picker__btn js-item-picker-btn"></button>
                    <input type="text" name="color" id="color" value="#fbb" class="o-item-picker__input js-item-picker-input">
                </div>
                <div class="o-form__help-text l-full">
                    <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="{comboName}[field][8]">{field8ErrorMessage}</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

</div>
