<div class="o-form l-container">

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="color2">Choose Color</label>
                <div class="o-item-picker o-item-picker--color js-item-picker" data-color="true" data-cantype="false">
                    <button class="o-item-picker__btn js-item-picker-btn"></button>
                    <input type="text" name="color2" id="color2" value="#fbb" class="o-item-picker__input js-item-picker-input">
                    <button class="o-item-picker__dropdown-btn js-item-picker-drop-btn">
                        <svg><use xlink:href="/images/svgicons.svg#select"></use></svg>
                    </button>

                    <div class="o-item-picker__window js-item-picker-window">
                        <button class="o-item-picker__close js-item-picker-close"></button>
                        <div class="o-item-picker__vignette"></div>
                        <div class="o-item-picker__list js-item-picker-list">
                            <button class="o-item-picker__item" data-value="#888888">#888888</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#fbb">#fbb</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#fbb">#fbb</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#fbb">#fbb</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#fbb">#fbb</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#fbb">#fbb</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#fbb">#fbb</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#fbb">#fbb</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#fbb">#fbb</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#fbb">#fbb</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#fbb">#fbb</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#fbb">#fbb</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="color2">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="color3">Choose Color</label>
                <div class="o-item-picker o-item-picker--no-edit o-item-picker--color js-item-picker" data-color="true">
                    <button class="o-item-picker__btn js-item-picker-btn"></button>
                    <input type="text" name="color3" id="color3" value="#fbb" class="o-item-picker__input js-item-picker-input">
                    <output class="o-item-picker__output js-item-picker-output">#fbb</output>
                    <button class="o-item-picker__dropdown-btn js-item-picker-drop-btn">
                        <svg><use xlink:href="/images/svgicons.svg#select"></use></svg>
                    </button>

                    <div class="o-item-picker__window js-item-picker-window">
                        <button class="o-item-picker__close js-item-picker-close"></button>
                        <div class="o-item-picker__vignette"></div>
                        <div class="o-item-picker__list js-item-picker-list">
                            <button class="o-item-picker__item" data-value="#888888">#888888</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                            <button class="o-item-picker__item" data-value="#bbf">#bbf</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#fbb">#fbb</button>
                            <button class="o-item-picker__item" data-value="#bfb">#bfb</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="color3">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

</div>
