<div class="o-form l-container">
    <div class="o-form__group has-error">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="title">Date</label>
                <input type="text" id="title" name="title" class="js-date" placeholder="Title..." value="">
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="o-form__group has-success">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="title">Today</label>
                <input type="text" id="title" name="title" class="js-date" placeholder="Title..." value="" data-time="true" data-default-today="true">
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title">Error Message</label>
                </div>
            </div>
        </div>
    </div>

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="title">Date Range</label>
                <input type="text" id="title" name="title" class="js-date" placeholder="Title..." value="" data-range="true">
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title">Error Message</label>
                </div>
            </div>
        </div>
    </div>
</div>
