<div class="o-form l-container">
    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" placeholder="Title..." value="">
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title">Error Message</label>
                </div>
            </div>
        </div>
    </div>

    <div class="o-form__group">
        <div class="o-form__description l-full">
            <p><strong class="h-text--primary-dark">Some Header</strong><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, at suscipit quis hic a itaque facere reprehenderit odio! Unde asperiores veritatis eveniet, ab voluptatem molestiae possimus! Eos non reiciendis soluta!</p>
        </div>
    </div>

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" placeholder="Title..." value="">
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title">Error Message</label>
                </div>
            </div>
        </div>
    </div>
</div>
