<div class="o-form l-container">
    <div class="o-form__group has-error">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="select">Title</label>
                <div class="o-file js-file-input">
                    <input type="hidden" name="file-input" value="/images/user-bg.png">
                    <div class="o-file__preview">
                        <div class="o-file__preview-wrap">
                            <svg><use xlink:href="/images/svgicons.svg#files"></svg>
                        </div>
                    </div>
                    <div class="o-file__help-text">
                        <p>Help Text goes here.</p>
                        <button class="o-btn o-btn--sm o-file__btn">select</button>
                    </div>
                </div>
            </div>

            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>
