<div class="o-form l-container">
    <div class="o-form__group has-error">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <div class="o-drag-select js-drag">
                    <input type="hidden" name="items" class="js-drag-input" value='["3", "1", "2"]'>
                    <div class="o-drag-select__column-wrap">
                        <div class="o-drag-select__title">Items</div>
                        <div class="o-drag-select__column o-drag-select__column--inactive js-drag-inactive">
                            <div class="o-drag-select__item" data-value="1">
                                <div class="o-drag-select__item-wrap">
                                    <span>Item 1</span>
                                    <svg>
                                        <use xlink:href="/images/svgicons.svg#move"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="o-drag-select__item" data-value="2">
                                <div class="o-drag-select__item-wrap">
                                    <span>Item 2</span>
                                    <svg>
                                        <use xlink:href="/images/svgicons.svg#move"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="o-drag-select__item" data-value="3">
                                <div class="o-drag-select__item-wrap">
                                    <span>Item 3</span>
                                    <svg>
                                        <use xlink:href="/images/svgicons.svg#move"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="o-drag-select__item" data-value="4">
                                <div class="o-drag-select__item-wrap">
                                    <span>Item 4</span>
                                    <svg>
                                        <use xlink:href="/images/svgicons.svg#move"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="o-drag-select__item" data-value="5">
                                <div class="o-drag-select__item-wrap">
                                    <span>Item 5</span>
                                    <svg>
                                        <use xlink:href="/images/svgicons.svg#move"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="o-drag-select__item" data-value="6">
                                <div class="o-drag-select__item-wrap">
                                    <span>Item 6</span>
                                    <svg>
                                        <use xlink:href="/images/svgicons.svg#move"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="o-drag-select__arrow">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#arrow-right"></use>
                        </svg>
                    </div>
                    <div class="o-drag-select__column-wrap">
                        <div class="o-drag-select__title">Selected Items</div>
                        <div class="o-drag-select__column o-drag-select__column--active js-drag-active"></div>
                    </div>
                </div>
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>
