<div class="l-container">
    <div class="o-form">
        <div class="o-form__group">
            <div class="o-form-status">
                <div class="o-form__list">
                    <div class="o-radio">
                        <label><input type="radio" id="radio1" name="radio1"><span></span></label>
                        <label for="radio1">Radio 1</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="o-form__group has-error">
            <div class="o-form-status">
                <div class="o-form__list">
                    <div class="o-radio">
                        <label><input type="radio" id="radio21" name="radio2"><span></span></label>
                        <label for="radio21">Radio 1</label>
                    </div>
                    <div class="o-radio">
                        <label><input type="radio" id="radio22" name="radio2"><span></span></label>
                        <label for="radio22">Radio 2</label>
                    </div>
                    <div class="o-radio">
                        <label><input type="radio" id="radio23" name="radio2"><span></span></label>
                        <label for="radio23">Radio 3</label>
                    </div>
                    <div class="o-radio">
                        <label><input type="radio" id="radio24" name="radio2"><span></span></label>
                        <label for="radio24">Radio 4</label>
                    </div>
                </div>

                <div class="o-form-status__message">
                    <div class="o-form-status__icon">
                        <div class="o-form-status__icon--error">
                            <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                        </div>
                        <div class="o-form-status__icon--success">
                            <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                        </div>
                    </div>
                    <div class="o-form-status__message-bar">
                        <label for="title">Error Message</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="o-form__group has-success">
            <div class="o-form-status">
                <div class="o-form__list">
                    <div class="o-radio">
                        <label><input type="radio" id="radio31" name="radio3"><span></span></label>
                        <label for="radio31">Radio 1</label>
                    </div>
                    <div class="o-radio">
                        <label><input type="radio" id="radio32" name="radio3"><span></span></label>
                        <label for="radio32">Radio 2</label>
                    </div>
                    <div class="o-radio">
                        <label><input type="radio" id="radio33" name="radio3"><span></span></label>
                        <label for="radio33">Radio 3</label>
                    </div>
                    <div class="o-radio">
                        <label><input type="radio" id="radio34" name="radio3"><span></span></label>
                        <label for="radio34">Radio 4</label>
                    </div>
                </div>

                <div class="o-form-status__message">
                    <div class="o-form-status__icon">
                        <div class="o-form-status__icon--error">
                            <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                        </div>
                        <div class="o-form-status__icon--success">
                            <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                        </div>
                    </div>
                    <div class="o-form-status__message-bar">
                        <label for="title">Error Message</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
