<div class="o-form l-container">

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="icon">Choose Icon</label>
                <div class="o-item-picker o-item-picker--no-edit js-item-picker" data-path="/images/svgicons.svg">
                    <button class="o-item-picker__btn js-item-picker-btn">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#add"></use>
                        </svg>
                    </button>
                    <input type="text" name="icon" id="icon" value="#add" class="o-item-picker__input js-item-picker-input">
                    <output class="o-item-picker__output js-item-picker-output">#add</output>
                    <button class="o-item-picker__dropdown-btn js-item-picker-drop-btn">
                        <svg><use xlink:href="/images/svgicons.svg#select"></use></svg>
                    </button>

                    <div class="o-item-picker__window js-item-picker-window">
                        <button class="o-item-picker__close js-item-picker-close"></button>
                        <div class="o-item-picker__vignette"></div>
                        <div class="o-item-picker__list js-item-picker-list">
                            <button class="o-item-picker__item" data-value="#arrow-up">#arrow-up</button>
                            <button class="o-item-picker__item" data-value="#arrow-left">#arrow-left</button>
                            <button class="o-item-picker__item" data-value="#arrow-right">#arrow-right</button>
                            <button class="o-item-picker__item" data-value="#arrow-down">#arrow-down</button>
                            <button class="o-item-picker__item" data-value="#add">#add</button>
                            <button class="o-item-picker__item" data-value="#success">#success</button>
                            <button class="o-item-picker__item" data-value="#alert">#alert</button>
                            <button class="o-item-picker__item" data-value="#blocks">#blocks</button>
                            <button class="o-item-picker__item" data-value="#dashboard">#dashboard</button>
                            <button class="o-item-picker__item" data-value="#delete">#delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="color3">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

</div>
