<div class="o-form l-container">
    <div class="o-form__group has-error">
        <div class="o-form-status">
            <div class="o-form__list">
                <div class="o-switch">
                    <label>
                        <input type="hidden" name="switch" class="js-toggle-value" value="0">
                        <input type="checkbox" id="switch" class="js-toggle-input">
                        <label>
                            <div class="o-switch__text" data-yes="on" data-no="off"></div>
                        </label>
                    </label>
                    <label for="switch">Switch</label>
                </div>
            </div>

            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>
