<div class="o-form l-container">
    <div class="o-form__group has-error">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" placeholder="Title..." value="bad input">
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="o-form__group has-success">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="title2">Title 2</label>
                <input type="text" id="title2" name="title2" placeholder="Title...">
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title2">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="title3">Title 3</label>
                <input type="text" id="title3" name="title3" placeholder="Title...">
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title3">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="title3">Title 3</label>

                <div class="o-form-icon">
                    <input type="text" id="title3" name="title3" placeholder="Title...">
                    <div class="o-form-icon__icon">
                        <span>px</span>
                    </div>
                </div>
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title3">Error Message</label>
                </div>
            </div>
        </div>
        <div class="o-form__help-text l-full">
            <p>Help Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="title3">Title 3</label>

                <div class="o-form-icon">
                    <div class="o-form-icon__icon">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#users"></use>
                        </svg>
                    </div>
                    <input type="text" id="title3" name="title3" placeholder="Title...">
                </div>

            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="title3">Error Message</label>
                </div>
            </div>
        </div>
    </div>

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="email">Email</label>

                <div class="o-form-icon">
                    <div class="o-form-icon__icon">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#email"></use>
                        </svg>
                    </div>
                    <input type="email" id="email" name="email" placeholder="email@gmail.com">
                </div>

            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="email">Error Message</label>
                </div>
            </div>
        </div>
    </div>

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="phone">phone</label>

                <div class="o-form-icon">
                    <div class="o-form-icon__icon">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#phone"></use>
                        </svg>
                    </div>
                    <input type="tel" id="phone" name="phone" placeholder="xxxxx xxxxxx">
                </div>

            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="phone">Error Message</label>
                </div>
            </div>
        </div>
    </div>

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="link">link</label>

                <div class="o-form-icon">
                    <div class="o-form-icon__icon">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#link"></use>
                        </svg>
                    </div>
                    <input type="url" id="link" name="link" placeholder="eg: /contact">
                </div>
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="email">Error Message</label>
                </div>
            </div>
        </div>

        <div class="o-form__text-option o-checkbox">
            <input type="hidden" name="external" class="js-toggle-value" value="0">
            <label><input type="checkbox" id="external" class="js-toggle-input"><span><svg><use xlink:href="/images/svgicons.svg#tick"></use></svg></span></label>
            <label for="external">External Link</label>
        </div>
    </div>

    <div class="o-form__group">
        <div class="o-form-status">
            <div class="o-form-status__input">
                <label for="phone">phone</label>

                <textarea name="content" id="content">some text</textarea>
            </div>
            <div class="o-form-status__message">
                <div class="o-form-status__icon">
                    <div class="o-form-status__icon--error">
                        <svg><use xlink:href="/images/svgicons.svg#alert"></use></svg>
                    </div>
                    <div class="o-form-status__icon--success">
                        <svg><use xlink:href="/images/svgicons.svg#success"></use></svg>
                    </div>
                </div>
                <div class="o-form-status__message-bar">
                    <label for="phone">Error Message</label>
                </div>
            </div>
        </div>
    </div>
</div>

