<div class="typography" style="max-width: 850px; margin-left: auto; margin-right: auto; width: 100%;">
    <h1>We are a strategic brand consultancy</h1>
    <h2>What do we mean by ‘mean more’?</h2>
    <p>We mean; brands that are bigger and more powerful. Brands that live for longer. Brands that connect with greater frequency – and deeper intensity. Brands that evolve, meaningfully. Brands that are valuable business assets.</p>

    <h2>Change doesn’t need to be challenging</h2>
    <p>Change can be both challenging and complex for any organisation. Our process is designed to ensure that when change starts to happen – be it the launch of a new identity, new customer experiences or business innovation – it stimulates and invigorates, creating adoption and advocacy, both internally and externally.</p>

    <h2>Brand is the answer</h2>
    <p>With so many organisations competing to be seen, heard, engaged with and acted upon, the question is: how do you win over the hearts and minds of your audiences?</p>
    <p>Brand is the answer.</p>
    <p>A powerful brand is the foundation for a compelling, significant and sustainable competitive business advantage. Internally, it will provide focus for your people, strategies, and communications. Externally, it will shape customer experiences that in turn drive loyalty and advocacy.</p>
    <p>A strong brand is defined by the fact that it does not follow trends for trends sake. The most recognised and successful brands acknowledge and understand where they have come from, have a desire to remain relevant in the present and an ambition to be more successful in the future.</p>

    <h3>Our programme of development</h3>
    <p>Our ‘move to more’ process is our clients platform for progress. Our multidisciplinary teams work in collaboration with clients to help solve their business challenges. Using data, insight, technology and creativity, we enable audience-led brand transformation to happen.</p>
    <p>We discover what your business is and where it has come from, where it fits today and what your aspirations are for tomorrow.</p>

    <h4>At The Escape, we</h4>
    <ul>
        <li>Create compelling relationships between our clients’ brands and their audiences.</li>
        <li>Define, rejuvenate and differentiate businesses through insight and creativity.</li>
        <li>Launch and propel
            <ul>
                <li>Launch and propel brands with strategic application.</li>
                <li>Build brand-led competitive advantage.</li>
            </ul>
        </li>
        <li>Transform brands into valued business assets.</li>
    </ul>
</div>
