<div class="c-block">
    <div class="c-block__image">
        <img src="https://picsum.photos/150/75" alt="">
    </div>
    <div class="c-block__title">
        <span>Client Hero Graphic</span>
    </div>
    <div class="c-block__action-list">
        <button class="c-block__action">
            <div class="c-block__icon">
                <svg><use xlink:href="/argon/images/svgicons.svg#add"></use></svg>
            </div>
        </button>
    </div>
</div>
