<div class="c-block">
    <div class="c-block__edit">
        <button class="c-block__edit-btn"><span>Edit block content</span></button>
        <div class="c-block__image">
            <img src="https://picsum.photos/300/175" alt="">
        </div>
        <div class="c-block__title">
            <span>Client Hero Graphic</span>
        </div>
    </div>
    <div class="c-block__action-list">
        <div class="o-confirm-btn__container o-confirm-btn--block js-confirm">
            <div class="o-confirm-btn__questions">
                <div class="o-confirm-btn"></div>
                <button class="o-confirm-btn" data-question="delete" title="Delete">
                    <svg>
                        <use xlink:href="/argon/images/svgicons.svg#delete"></use>
                    </svg>
                </button>
            </div>
            <div class="o-confirm-btn__decline">
                <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                    <svg>
                        <use xlink:href="/argon/images/svgicons.svg#cross"></use>
                    </svg>
                </button>
            </div>
            <div class="o-confirm-btn__accept">
                <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                    <svg>
                        <use xlink:href="/argon/images/svgicons.svg#tick"></use>
                    </svg>
                </button>
            </div>
        </div>
        <button class="c-block__drag-handle">
            <div class="c-block__icon">
                <svg><use xlink:href="/argon/images/svgicons.svg#hamburger"></use></svg>
            </div>
        </button>
    </div>
</div>
