<header class="c-header c-container">
    <div class="c-header__title">
        <h1>Edit Page</h1>
    </div>
    <div class="c-tab__nav">
        <ul>
            <li>
                <a class="c-tab__btn active">
                    <div class="c-tab__btn-container">
                        <span>Details</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="c-tab__btn">
                    <div class="c-tab__btn-container">
                        <span>Other</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</header>
