<div class="c-container">
    <div class="o-table o-table--tree o-table--tree-2 l-full">
        <div class="o-table__headers">
            <div class="o-table__header">Title</div>
            <div class="o-table__header o-table--center">Status</div>
            <div class="o-table__header">Actions</div>
            <div class="o-table__header"></div>
        </div>

        <div class="o-table__row">
            <button class="o-table__child-btn is-active">
                <svg>
                    <use xlink:href="/argon/images/svgicons.svg#select"></use>
                </svg>
            </button>
            <div class="o-table__data">Title to go here</div>
            <div class="o-table__data o-table--center"><div class="o-status o-status--active"></div></div>
            <div class="o-table__data">
                <div class="o-confirm-btn__container js-table-actions">
                    <div class="o-confirm-btn__questions">
                        <button class="o-confirm-btn" title="add">
                            <svg>
                                <use xlink:href="/argon/images/svgicons.svg#add"></use>
                            </svg>
                        </button>
                        <button class="o-confirm-btn" title="Delete">
                            <svg>
                                <use xlink:href="/argon/images/svgicons.svg#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="o-confirm-btn__decline">
                        <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                            <svg>
                                <use xlink:href="/argon/images/svgicons.svg#cross"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="o-confirm-btn__accept">
                        <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                            <svg>
                                <use xlink:href="/argon/images/svgicons.svg#tick"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="o-table__data"><a href="#" class="o-btn o-btn--xs">edit post</a></div>

            <div class="o-table__children">
                <div class="o-table__row">
                    <button class="o-table__child-btn is-active">
                        <svg>
                            <use xlink:href="/argon/images/svgicons.svg#select"></use>
                        </svg>
                    </button>
                    <div class="o-table__data">A very long, no a stupidly long, no an absurdly long title, because i don't have a good name</div>
                    <div class="o-table__data o-table--center"><div class="o-status o-status--inactive"></div></div>
                    <div class="o-table__data">
                        <div class="o-confirm-btn__container js-table-actions">
                            <div class="o-confirm-btn__questions">
                                <button class="o-confirm-btn" title="add">
                                    <svg>
                                        <use xlink:href="/argon/images/svgicons.svg#add"></use>
                                    </svg>
                                </button>
                                <button class="o-confirm-btn" title="Delete">
                                    <svg>
                                        <use xlink:href="/argon/images/svgicons.svg#delete"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="o-confirm-btn__decline">
                                <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                                    <svg>
                                        <use xlink:href="/argon/images/svgicons.svg#cross"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="o-confirm-btn__accept">
                                <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                                    <svg>
                                        <use xlink:href="/argon/images/svgicons.svg#tick"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="o-table__data"><a href="#" class="o-btn o-btn--xs">edit post</a></div>

                    <div class="o-table__children">
                        <div class="o-table__row">
                            <div class="o-table__data">Title to go here</div>
                            <div class="o-table__data o-table--center"><div class="o-status o-status--active"></div></div>
                            <div class="o-table__data">
                                <div class="o-confirm-btn__container js-table-actions">
                                    <div class="o-confirm-btn__questions">
                                        <button class="o-confirm-btn" title="add">
                                            <svg>
                                                <use xlink:href="/argon/images/svgicons.svg#add"></use>
                                            </svg>
                                        </button>
                                        <button class="o-confirm-btn" title="Delete">
                                            <svg>
                                                <use xlink:href="/argon/images/svgicons.svg#delete"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="o-confirm-btn__decline">
                                        <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                                            <svg>
                                                <use xlink:href="/argon/images/svgicons.svg#cross"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="o-confirm-btn__accept">
                                        <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                                            <svg>
                                                <use xlink:href="/argon/images/svgicons.svg#tick"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="o-table__data"><a href="#" class="o-btn o-btn--xs">edit post</a></div>
                        </div>
                    </div>
                </div>

                <div class="o-table__row">
                    <div class="o-table__data">Title</div>
                    <div class="o-table__data o-table--center"><div class="o-status o-status--inactive"></div></div>
                    <div class="o-table__data">
                        <div class="o-confirm-btn__container js-table-actions">
                            <div class="o-confirm-btn__questions">
                                <button class="o-confirm-btn" title="add">
                                    <svg>
                                        <use xlink:href="/argon/images/svgicons.svg#add"></use>
                                    </svg>
                                </button>
                                <button class="o-confirm-btn" title="Delete">
                                    <svg>
                                        <use xlink:href="/argon/images/svgicons.svg#delete"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="o-confirm-btn__decline">
                                <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                                    <svg>
                                        <use xlink:href="/argon/images/svgicons.svg#cross"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="o-confirm-btn__accept">
                                <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                                    <svg>
                                        <use xlink:href="/argon/images/svgicons.svg#tick"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="o-table__data"><a href="#" class="o-btn o-btn--xs">edit post</a></div>
                </div>

                <div class="o-table__row">
                    <button class="o-table__child-btn is-active">
                        <svg>
                            <use xlink:href="/argon/images/svgicons.svg#select"></use>
                        </svg>
                    </button>
                    <div class="o-table__data">A very long, no a stupidly long, no an absurdly long title, because i don't have a good name</div>
                    <div class="o-table__data o-table--center"><div class="o-status o-status--inactive"></div></div>
                    <div class="o-table__data">
                        <div class="o-confirm-btn__container js-table-actions">
                            <div class="o-confirm-btn__questions">
                                <button class="o-confirm-btn" title="add">
                                    <svg>
                                        <use xlink:href="/argon/images/svgicons.svg#add"></use>
                                    </svg>
                                </button>
                                <button class="o-confirm-btn" title="Delete">
                                    <svg>
                                        <use xlink:href="/argon/images/svgicons.svg#delete"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="o-confirm-btn__decline">
                                <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                                    <svg>
                                        <use xlink:href="/argon/images/svgicons.svg#cross"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="o-confirm-btn__accept">
                                <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                                    <svg>
                                        <use xlink:href="/argon/images/svgicons.svg#tick"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="o-table__data"><a href="#" class="o-btn o-btn--xs">edit post</a></div>

                    <div class="o-table__children">
                        <div class="o-table__row">
                            <div class="o-table__data">Title to go here</div>
                            <div class="o-table__data o-table--center"><div class="o-status o-status--active"></div></div>
                            <div class="o-table__data">
                                <div class="o-confirm-btn__container js-table-actions">
                                    <div class="o-confirm-btn__questions">
                                        <button class="o-confirm-btn" title="add">
                                            <svg>
                                                <use xlink:href="/argon/images/svgicons.svg#add"></use>
                                            </svg>
                                        </button>
                                        <button class="o-confirm-btn" title="Delete">
                                            <svg>
                                                <use xlink:href="/argon/images/svgicons.svg#delete"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="o-confirm-btn__decline">
                                        <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                                            <svg>
                                                <use xlink:href="/argon/images/svgicons.svg#cross"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="o-confirm-btn__accept">
                                        <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                                            <svg>
                                                <use xlink:href="/argon/images/svgicons.svg#tick"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="o-table__data"><a href="#" class="o-btn o-btn--xs">edit post</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
