<div class="c-container">
    <script>
        window.sitemap = [
            {"id":1,"title":"Site","typeName":"site","status":1,"children":[
                    {"id":2,"title":"sub page","typeName":"page","status":1,"children":[]},
                    {"id":24,"title":"test","typeName":"page","status":0,"children":[]},
                    {"id":25,"title":"testing","typeName":"test","status":0,"children":[]},
                    {"id":28,"title":"test create page","typeName":"test","status":0,"children":[]},
                    {"id":29,"title":"some page","typeName":"test","status":0,"children":[]}
                ]
            },
            {"id":11,"title":"Site2","typeName":"site","status":1,"children":[]}
        ];
        window.types = [{"id":2,"name":"page"},{"id":3,"name":"test"},{"id":6,"name":"test-inter"}];
    </script>
    <div class="js-site-tree"></div>
</div>
