<div class="c-block-list">
    <div class="c-block-list__search o-form ">
        <input type="text" id="search" name="search" placeholder="Search blocks">

        <div class="c-block-list__search-icon">
            <svg>
                <use xlink:href="/argon/images/svgicons.svg#search"></use>
            </svg>
        </div>
    </div>
    <div class="c-block-list__container">
        {{> edit-block-add}}
        {{> edit-block-add}}
        {{> edit-block-add}}
        {{> edit-block-add}}
        {{> edit-block-add}}
        {{> edit-block-add}}
        {{> edit-block-add}}
        {{> edit-block-add}}
    </div>
</div>
