<div class="l-halves c-tab-panel__inner">
    <div class="c-block-list__wrap">
        <div class="typography l-space">
            <h3>Page Preview</h3>
            <p>Here you can edit, duplicate, remove and re-order content</p>
        </div>
        {{> edit-block-list-edit}}
    </div>
    <div class="c-block-list__wrap">
        <div class="typography l-space">
            <h3>Page Builder</h3>
            <p>Add blocks to create you own custom page layout</p>
        </div>
        {{> edit-block-list-add}}
    </div>
</div>
