<script>
    window.groups = [
        {
            id: "4",
            isRenderable: false,
            isRendering: false,
            name: "Location",
            image: ""
        },
        {
            id: "9",
            isRenderable: false,
            isRendering: false,
            name: "menu",
            image: ""
        },
        {
            id: "1",
            isRenderable: true,
            isRendering: false,
            name: "text",
            image: ""
        },
        {
            id: "2",
            isRenderable: true,
            isRendering: false,
            name: "select",
            image: ""
        },
        {
            id: "3",
            isRenderable: true,
            isRendering: false,
            name: "combo",
            image: ""
        },
        {
            id: "5",
            isRenderable: true,
            isRendering: false,
            name: "wysiwyg",
            image: ""
        },
        {
            id: "6",
            isRenderable: true,
            isRendering: false,
            name: "Buttons",
            image: ""
        },
        {
            id: "7",
            isRenderable: true,
            isRendering: false,
            name: "booleans",
            image: ""
        },
        {
            id: "8",
            isRenderable: true,
            isRendering: false,
            name: "items",
            image: ""
        },
        {
            id: "10",
            isRenderable: true,
            isRendering: false,
            name: "datetime",
            image: ""
        },
        {
            id: "11",
            isRenderable: true,
            isRendering: false,
            name: "image-file",
            image: ""
        }
    ]
</script>
<div class="js-page-edit"></div>
