<script>
    window.groups = [
        {
            id: "text_test",
            isRenderable: true,
            isRendering: false,
            isSortable: true,
            name: "text",
            isTab: false,
            image: ""
        },
        {
            id: "button_test",
            isRenderable: true,
            isRendering: false,
            isSortable: true,
            name: "button",
            isTab: false,
            image: ""
        },
        {
            id: "combo_test",
            isRenderable: true,
            isRendering: false,
            isSortable: true,
            name: "combo",
            isTab: false,
            image: ""
        }
    ]

    window.fieldGroups = window.fieldGroups || {}
    window.fieldGroups['text_test'] = {
        header: 'Text Test',
        fields: [
            {
                "id": 2,
                "options": {
                    "typeKey": "text",
                    "name": "multi text",
                    "settings": {
                        "required": false,
                        "multiline": false,
                        "multiple": true,
                        "minlength": 0,
                        "maxlength": 0,
                        "url": false,
                        "integer": false,
                        "float": false,
                        "email": false,
                        "phone": false
                    }
                },
                "helpText": "",
                "message": "",
                "messageAfter": "",
                "values": [
                    "text",
                    "text 2"
                ],
                "errors": []
            },
            {
                "id": 1,
                "options": {
                    "typeKey": "text",
                    "name": "single text",
                    "settings": {
                        "required": false,
                        "multiline": false,
                        "multiple": false,
                        "minlength": 0,
                        "maxlength": 0,
                        "url": false,
                        "integer": false,
                        "float": false,
                        "email": false,
                        "phone": false
                    }
                },
                "helpText": "",
                "message": "",
                "messageAfter": "",
                "values": [
                    "one"
                ],
                "errors": []
            },
            {
                "id": 3,
                "options": {
                    "typeKey": "text",
                    "name": "textarea",
                    "settings": {
                        "required": false,
                        "multiline": true,
                        "multiple": true,
                        "minlength": 0,
                        "maxlength": 0,
                        "url": false,
                        "integer": false,
                        "float": false,
                        "email": false,
                        "phone": false
                    }
                },
                "helpText": "",
                "message": "",
                "messageAfter": "",
                "values": [
                    "two"
                ],
                "errors": [
                    "required"
                ]
            }
        ]
    }

    window.fieldGroups['button_test'] =
    {
        header: 'Button Test',
        fields: [
            {
                "id": 15,
                "options": {
                    "typeKey": "button",
                    "name": "button",
                    "settings": {
                        "required": false,
                        "multiple": false
                    }
                },
                "helpText": "",
                "message": "",
                "messageAfter": "",
                "values": [],
                "errors": []
            },
            {
                "id": 16,
                "options": {
                    "typeKey": "button",
                    "name": "button multi",
                    "settings": {
                        "required": false,
                        "multiple": true
                    }
                },
                "helpText": "",
                "message": "",
                "messageAfter": "",
                "values": [],
                "errors": []
            }
        ]
    }

    window.fieldGroups['combo_test'] = {
        header: 'Combo Test',
        fields: [
            {
                "id": 2,
                "options": {
                    "typeKey": "combo",
                    "name": "single combo",
                    "settings": {
                        "multiple": false
                    }
                },
                "helpText": "",
                "message": "",
                "messageAfter": "",
                "fields": [
                    {
                        "id": 10,
                        "options": {
                            "typeKey": "text",
                            "name": "single text",
                            "settings": {
                                "required": false,
                                "multiline": false,
                                "multiple": false,
                                "minlength": 0,
                                "maxlength": 0,
                                "url": false,
                                "integer": false,
                                "float": false,
                                "email": false,
                                "phone": false
                            }
                        },
                        "helpText": "",
                        "message": "",
                        "messageAfter": ""
                    },
                ],
                "values": [],
                "errors": []
            },
            {
                "id": 20,
                "options": {
                    "typeKey": "combo",
                    "name": "Multi Combo",
                    "settings": {
                        "multiple": true
                    }
                },
                "helpText": "",
                "message": "",
                "messageAfter": "",
                "fields": [
                    {
                        "id": 22,
                        "options": {
                            "typeKey": "text",
                            "name": "single text",
                            "settings": {
                                "required": false,
                                "multiline": false,
                                "multiple": false,
                                "minlength": 0,
                                "maxlength": 0,
                                "url": false,
                                "integer": false,
                                "float": false,
                                "email": false,
                                "phone": false
                            }
                        },
                        "helpText": "",
                        "message": "",
                        "messageAfter": ""
                    }
                ],
                "values": [],
                "errors": []
            }
        ]
    }
</script>
<div class="js-page-edit"></div>
