.c-import-field-groups {
	margin-top: 48px;
	height: calc(100vh - 605px);

	&__title {
		p {
			margin-top: 0 !important;
			font-size: 1.4rem !important;
		}
	}

	&__search {
		margin-top: 15px;
	}

	&__column {
		border-left: 1px solid $grey-light;
		border-right: 1px solid $grey-light;
		border-bottom: 1px solid $grey-light;
		height: calc(100vh - 870px);
		overflow-y: auto;
	}

	&__navtree {
		margin: 0 0 10px;
		padding: 0 20px 10px;
	}
}