.c-library-tools{
	position: absolute;
	bottom: 25px;
	right: 40px;
	z-index: 19;
	display: flex;
	height: 30px;

	.expanded &{
		position: fixed;
		bottom: 10px;
		right: 20px;
	}

	&__button{
		background-color: white;
		padding: 7px 8px;
		margin-right: 10px;
		cursor: pointer;
		min-width: 30px;
		text-align: center;
		display: none;
		margin-top: 0 !important;


		.show &{
			display: block;
		}
	}

	&__create{
		display: block;
		margin-right: 0;

		.show &{
			display: none;
		}
	}

	&__input {
		padding: 0;

		input {
			background-color: transparent;
			outline: 0 none;
			padding: 2px 10px !important;
			height: 30px !important;
			border: 0 none !important;

			&:active {
				outline: 0 none
			}
		}

		&.error {
			background-color: rgb(255, 150, 150)
		}
	}

	&__image{
		height: 30px !important;
	}

	&__delete{
		margin-left: 10px;
	}

	&__close{
		margin-right: 0;
	}

	&__toggle{
		padding: 3px 8px;
		margin-right: 1px;

		&.active{
			color: $grey-white;
			background-color: $primary;
		}
	}




}