// Grid size
//====================

$col-1: 100 / $columns * 1%;
$col-2: (100 / $columns) * 2 * 1%;
$col-3: (100 / $columns) * 3 * 1%;
$col-4: (100 / $columns) * 4 * 1%;
$col-5: (100 / $columns) * 5 * 1%;
$col-6: (100 / $columns) * 6 * 1%;
$col-7: (100 / $columns) * 7 * 1%;
$col-8: (100 / $columns) * 8 * 1%;
$col-9: (100 / $columns) * 9 * 1%;
$col-10: (100 / $columns) * 10 * 1%;
$col-11: (100 / $columns) * 10 * 1%;

