<script>
    window.fieldGroups = window.fieldGroups || {}
    window.fieldGroups['boolean-test-group'] = [
        {
            "id": 1,
            "options": {
                "typeKey": "boolean",
                "name": "boolean",
                "settings": {
                    "initial_value": "0"
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": ["1"],
            "errors": []
        },
        {
            "id": 2,
            "options": {
                "typeKey": "boolean",
                "name": "boolean",
                "settings": {
                    "initial_value": "1"
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [],
            "errors": []
        },
        {
            "id": 3,
            "options": {
                "typeKey": "boolean",
                "name": "boolean",
                "settings": {
                    "initial_value": "0"
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [],
            "errors": []
        }
    ]
</script>
<div class="js-fields" data-name="boolean-test-group"></div>
