<script>
    window.fieldGroups = window.fieldGroups || {}
    window.fieldGroups['button-test-group'] = [
        {
            "id": 15,
            "options": {
                "typeKey": "button",
                "name": "button",
                "settings": {
                    "required": false,
                    "multiple": false
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [],
            "errors": []
        },
        {
            "id": 16,
            "options": {
                "typeKey": "button",
                "name": "button multi",
                "settings": {
                    "required": false,
                    "multiple": true
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [],
            "errors": []
        }
    ]
</script>
<div class="js-fields" data-name="button-test-group"></div>
