<form action="#">
    <script>
        window.fieldGroups = window.fieldGroups || {}
        window.fieldGroups['combo-test-group'] =
            {
                header: 'combo',
                fields: [
            {
                "id": 2,
                "options": {
                    "typeKey": "combo",
                    "name": "single combo",
                    "settings": {
                        "multiple": false
                    }
                },
                "helpText": "",
                "message": "",
                "messageAfter": "",
                "fields": [
                    {
                        "id": 10,
                        "options": {
                            "typeKey": "text",
                            "name": "single text",
                            "settings": {
                                "required": false,
                                "multiline": false,
                                "multiple": false,
                                "minlength": 0,
                                "maxlength": 0,
                                "url": false,
                                "integer": false,
                                "float": false,
                                "email": false,
                                "phone": false
                            }
                        },
                        "helpText": "",
                        "message": "",
                        "messageAfter": ""
                    },
                ],
                "values": [],
                "errors": []
            },
            {
                "id": 20,
                "options": {
                    "typeKey": "combo",
                    "name": "Multi Combo",
                    "settings": {
                        "multiple": true
                    }
                },
                "helpText": "",
                "message": "",
                "messageAfter": "",
                "fields": [
                    {
                        "id": 22,
                        "options": {
                            "typeKey": "text",
                            "name": "single text",
                            "settings": {
                                "required": false,
                                "multiline": false,
                                "multiple": false,
                                "minlength": 0,
                                "maxlength": 0,
                                "url": false,
                                "integer": false,
                                "float": false,
                                "email": false,
                                "phone": false
                            }
                        },
                        "helpText": "",
                        "message": "",
                        "messageAfter": ""
                    }
                ],
                "values": [],
                "errors": []
            }
        ]
            }

    </script>
    <div class="js-fields" data-name="combo-test-group"></div>
</form>

