<script>
    window.fieldGroups = window.fieldGroups || {}
    window.fieldGroups['datetime-test-group'] =
    {
        headers: 'datetime',
        fields: [
        {
            "id": 23,
            "options": {
                "typeKey": "datetime",
                "name": "date",
                "settings": {
                    "required": false,
                    "time": false,
                    "seconds": false,
                    "default": false
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [
                "2018-11-13 00:00:00"
            ],
            "errors": []
        },
        {
            "id": 22,
            "options": {
                "typeKey": "datetime",
                "name": "datetime",
                "settings": {
                    "required": false,
                    "time": false,
                    "seconds": false,
                    "default": true
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [],
            "errors": []
        },
        {
            "id": 24,
            "options": {
                "typeKey": "datetime",
                "name": "no def date",
                "settings": {
                    "required": false,
                    "time": true,
                    "seconds": false,
                    "default": false
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [],
            "errors": []
        }
    ]
    }

</script>
<div class="js-fields" data-name="datetime-test-group"></div>
