<form action="#">
    <script>
        window.fieldGroups = window.fieldGroups || []
        window.fieldGroups['icon-test-group'] = {
            fields: [
                {
                    "id": 2,
                    "options": {
                        "typeKey": "icon",
                        "name": "icon",
                        "settings": {
                            "required": false,
                            "meta_path": "/images/icon-input/svgmeta.json",
                            "svg_path": "/images/icon-input/svgicons.svg"
                        }
                    },
                    "helpText": "",
                    "message": "",
                    "messageAfter": "",
                    "values": [],
                    "errors": []
                }
            ],
            header: 'icon'
        }
    </script>
    <div class="js-fields" data-name="icon-test-group"></div>
</form>

<style>
    .c-actions__container {
        height: 100vh !important;
    }
</style>
