<script>
window.fieldGroups = window.fieldGroups || {}
window.fieldGroups['file-image-test-group'] = [
    {
        "id": 27,
        "options": {
            "typeKey": "file",
            "name": "file",
            "settings": {
                "required": false,
                "multiple": false,
                "formats": "text\/plain, text\/csv, text\/comma-separated-values",
                "max_size": 1024000,
                "help": ""
            }
        },
        "helpText": "",
        "message": "",
        "messageAfter": "",
        "values": [
            {
                "id": 3,
                "url": "\/media\/3\/paul-morris-2560.jpg?1543503185"
            }
        ],
        "errors": []
    },
    {
        "id": 28,
        "options": {
            "typeKey": "file",
            "name": "file multi",
            "settings": {
                "required": false,
                "multiple": true,
                "formats": "text\/plain, text\/csv, text\/comma-separated-values",
                "max_size": 1024000,
                "help": ""
            }
        },
        "helpText": "",
        "message": "",
        "messageAfter": "",
        "values": [
            {
                "id": "",
                "url": ""
            }
        ],
        "errors": []
    },
    {
        "id": 25,
        "options": {
            "typeKey": "image",
            "name": "image",
            "settings": {
                "required": false,
                "multiple": false,
                "width": 0,
                "height": 0,
                "help": ""
            }
        },
        "helpText": "",
        "message": "",
        "messageAfter": "",
        "values": [
            {
                "id": 2,
                "width": "7952",
                "height": "4473",
                "alt": "some alt text",
                "url": "\/media\/2\/john-towner-2560-2.jpg?1543503184"
            }
        ],
        "errors": []
    },
    {
        "id": 26,
        "options": {
            "typeKey": "image",
            "name": "image multi",
            "settings": {
                "required": false,
                "multiple": true,
                "width": 0,
                "height": 0,
                "help": ""
            }
        },
        "helpText": "",
        "message": "",
        "messageAfter": "",
        "values": [
            {
                "id": "",
                "width": "",
                "height": "",
                "alt": "",
                "url": ""
            }
        ],
        "errors": []
    }
]
</script>
<div class="js-fields" data-name="file-image-test-group"></div>
