<script>
    window.fieldGroups = window.fieldGroups || {}
    window.fieldGroups['location-test-group'] = [
        {
            "id": 10,
            "options": {
                "typeKey": "location",
                "name": "Location",
                "settings": {
                    "required": false,
                    "float": false,
                    "multiple": false
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [],
            "errors": []
        },
        {
            "id": 11,
            "options": {
                "typeKey": "location",
                "name": "Location",
                "settings": {
                    "required": false,
                    "float": false,
                    "multiple": false
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [
                {
                    "latitude": "123",
                    "longitude": "3453465"
                }
            ],
            "errors": []
        },
        {
            "id": 12,
            "options": {
                "typeKey": "location",
                "name": "Location Multi",
                "settings": {
                    "required": false,
                    "float": false,
                    "multiple": true
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [
                {
                    "latitude": "123",
                    "longitude": "2134345"
                },
                {
                    "latitude": "123567",
                    "longitude": "789"
                }
            ],
            "errors": []
        }
    ]
</script>
<div class="js-fields" data-name="location-test-group"></div>
