<script>
    window.fieldGroups = window.fieldGroups || {}
    window.fieldGroups['menu-test-group'] = [
        {
            "id": 20,
            "options": {
                "typeKey": "menu",
                "name": "menu",
                "settings": {
                    "required": false,
                    "multiple": false,
                    "options": [
                        {
                            "menu1": "menu 1"
                        },
                        {
                            "menu2": "menu 2"
                        }
                    ]
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [],
            "errors": []
        },
        {
            "id": 21,
            "options": {
                "typeKey": "menu",
                "name": "menu multi",
                "settings": {
                    "required": false,
                    "multiple": true,
                    "options": [
                        {
                            "menu1": "menu 1"
                        },
                        {
                            "menu2": "menu 2"
                        }
                    ]
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [],
            "errors": []
        }
    ]
</script>
<div class="js-fields" data-name="menu-test-group"></div>
