<script>
    window.fieldGroups = window.fieldGroups || {}
    window.fieldGroups['select-test-group'] = [
        {
            "id": 5,
            "options": {
                "typeKey": "select",
                "name": "multi select",
                "settings": {
                    "required": false,
                    "multiple": true,
                    "options": [
                        {
                            "1": "item 1"
                        },
                        {
                            "2": "item 2"
                        },
                        {
                            "3": "item 3"
                        },
                        {
                            "4": "item 4"
                        },
                        {
                            "5": "item 5"
                        },
                        {
                            "6": "item 6"
                        }
                    ]
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [
                "1"
            ],
            "errors": []
        },
        {
            "id": 4,
            "options": {
                "typeKey": "select",
                "name": "single select",
                "settings": {
                    "required": false,
                    "multiple": false,
                    "options": [
                        {
                            "1": "item 1"
                        },
                        {
                            "2": "item 2"
                        },
                        {
                            "3": "item 3"
                        },
                        {
                            "4": "item 4"
                        }
                    ]
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [
                ""
            ],
            "errors": [
                "required"
            ]
        }
    ]
</script>
<div class="js-fields" data-name="select-test-group"></div>
