<script>
    window.fieldGroups = window.fieldGroups || {}
    window.fieldGroups['wysiwyg-test-group'] =
        {
            headers: 'wysiwyg',
            fields:  [
        {
            "id": 13,
            "options": {
                "typeKey": "wysiwyg",
                "name": "wysiwyg",
                "settings": {
                    "required": false,
                    "multiple": false,
                    "minlength": 0,
                    "maxlength": 0,
                    "height": 150,
                    "source": false,
                    "format": false,
                    "h1": "0",
                    "h2": "0",
                    "h3": "0",
                    "h4": "0",
                    "h5": "0",
                    "h6": "0",
                    "styles": false,
                    "fontsize": false,
                    "bold": false,
                    "italic": false,
                    "blockquote": false,
                    "numberedlist": false,
                    "bulletedlist": false,
                    "image": false,
                    "table": false,
                    "link": false,
                    "unlink": false,
                    "iframe": false,
                    "editor_options": {
                        "toolbar": "Format,FontSize,NumberedList,Link",
                        "format-tags": "h1;h2",
                        "height": 150,
                        "extra-allowed-content": false,
                        "typography-styles": "\/css\/typography.css"
                    }
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [
                "<p>some content<\/p>\r\n\r\n<h2>Width headers&nbsp;<\/h2>\r\n\r\n<h1>and stuff<\/h1>\r\n\r\n<ul>\r\n\t<li>12<\/li>\r\n\t<li>123<\/li>\r\n\t<li>456<\/li>\r\n<\/ul>\r\n"
            ],
            "errors": []
        },
        {
            "id": 14,
            "options": {
                "typeKey": "wysiwyg",
                "name": "wysiwyg multi",
                "settings": {
                    "required": false,
                    "multiple": true,
                    "minlength": 0,
                    "maxlength": 0,
                    "height": 150,
                    "source": false,
                    "format": false,
                    "h1": "0",
                    "h2": "0",
                    "h3": "0",
                    "h4": "0",
                    "h5": "0",
                    "h6": "0",
                    "styles": false,
                    "fontsize": false,
                    "bold": false,
                    "italic": false,
                    "blockquote": false,
                    "numberedlist": false,
                    "bulletedlist": false,
                    "image": false,
                    "table": false,
                    "link": false,
                    "unlink": false,
                    "iframe": false,
                    "editor_options": {
                        "toolbar": "",
                        "format-tags": "",
                        "height": 150,
                        "extra-allowed-content": false,
                        "typography-styles": "\/css\/typography.css"
                    }
                }
            },
            "helpText": "",
            "message": "",
            "messageAfter": "",
            "values": [],
            "errors": []
        }
    ]
        }

</script>
<div class="js-fields" data-name="wysiwyg-test-group"></div>
