<div class="l-container">
    <div class="o-table o-table--4 l-full">
        <div class="o-table__header">Title</div>
        <div class="o-table__header">Author</div>
        <div class="o-table__header">Date Created</div>
        <div class="o-table__header">Status</div>
        <div class="o-table__header">Actions</div>
        <div class="o-table__header"></div>

        <div class="o-table__data">Title to go here</div>
        <div class="o-table__data">Joseph</div>
        <div class="o-table__data">01 Nov 2017</div>
        <div class="o-table__data"><div class="o-status o-status--active"></div> Published</div>
        <div class="o-table__data">
            <div class="o-confirm-btn__container js-table-actions" data-id="1" data-dropdown="table-1">
                <div class="o-confirm-btn__questions">
                    <button class="o-confirm-btn" data-question="duplicate" title="Duplicate">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#duplicate"></use>
                        </svg>
                    </button>
                    <button class="o-confirm-btn" data-question="delete" title="Delete">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="o-confirm-btn__decline">
                    <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="o-confirm-btn__accept">
                    <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#tick"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="o-table__data"><a href="#" class="o-btn o-btn--xs">edit post</a></div>
        <div class="o-table__dropdown js-table-actions-dropdown" data-dropdown-id="table-1">
            <div class="o-table__dropdown-wrap">
                <div class="o-form">
                    <div class="o-form__inline">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                        <button class="o-btn o-btn--sm o-btn--square o-btn--primary">Duplicate</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="o-table__data">Title</div>
        <div class="o-table__data">Jephrey</div>
        <div class="o-table__data">03 Nov 2017</div>
        <div class="o-table__data"><div class="o-status o-status--inactive"></div> Not Published</div>
        <div class="o-table__data">
            <div class="o-confirm-btn__container js-table-actions" data-id="2" data-dropdown="table-2">
                <div class="o-confirm-btn__questions">
                    <button class="o-confirm-btn" data-question="duplicate" title="Duplicate">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#duplicate"></use>
                        </svg>
                    </button>
                    <button class="o-confirm-btn" data-question="delete" title="Delete">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="o-confirm-btn__decline">
                    <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="o-confirm-btn__accept">
                    <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#tick"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="o-table__data"><a href="#" class="o-btn o-btn--xs">edit post</a></div>
        <div class="o-table__dropdown js-table-actions-dropdown" data-dropdown-id="table-2">
            <div class="o-table__dropdown-wrap">
                <div class="o-form">
                    <div class="o-form__inline">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                        <button class="o-btn o-btn--sm o-btn--square o-btn--primary">Duplicate</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="o-table__data">A very long, no a stupidly long, no an absurdly long title, because i don't have a good name</div>
        <div class="o-table__data">Jimmy</div>
        <div class="o-table__data">03 Nov 2017</div>
        <div class="o-table__data"><div class="o-status o-status--inactive"></div> Not Published</div>
        <div class="o-table__data">
            <div class="o-confirm-btn__container js-table-actions" data-id="3" data-dropdown="table-3">
                <div class="o-confirm-btn__questions">
                    <button class="o-confirm-btn" data-question="duplicate" title="Duplicate">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#duplicate"></use>
                        </svg>
                    </button>
                    <button class="o-confirm-btn" data-question="delete" title="Delete">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="o-confirm-btn__decline">
                    <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="o-confirm-btn__accept">
                    <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#tick"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="o-table__data"><a href="#" class="o-btn o-btn--xs">edit post</a></div>
        <div class="o-table__dropdown js-table-actions-dropdown" data-dropdown-id="table-3">
            <div class="o-table__dropdown-wrap">
                <div class="o-form">
                    <div class="o-form__inline">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                        <button class="o-btn o-btn--sm o-btn--square o-btn--primary">Duplicate</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="o-table__data">Title to go here</div>
        <div class="o-table__data">Joseph</div>
        <div class="o-table__data">01 Nov 2017</div>
        <div class="o-table__data"><div class="o-status o-status--active"></div> Published</div>
        <div class="o-table__data">
            <div class="o-confirm-btn__container js-table-actions" data-id="4" data-dropdown="table-4">
                <div class="o-confirm-btn__questions">
                    <button class="o-confirm-btn" data-question="duplicate" title="Duplicate">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#duplicate"></use>
                        </svg>
                    </button>
                    <button class="o-confirm-btn" data-question="delete" title="Delete">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="o-confirm-btn__decline">
                    <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="o-confirm-btn__accept">
                    <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#tick"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="o-table__data"><a href="#" class="o-btn o-btn--xs">edit post</a></div>
        <div class="o-table__dropdown js-table-actions-dropdown" data-dropdown-id="table-4">
            <div class="o-table__dropdown-wrap">
                <div class="o-form">
                    <div class="o-form__inline">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                        <button class="o-btn o-btn--sm o-btn--square o-btn--primary">Duplicate</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="o-table__data">Title to go here</div>
        <div class="o-table__data">Joseph</div>
        <div class="o-table__data">01 Nov 2017</div>
        <div class="o-table__data"><div class="o-status o-status--active"></div> Published</div>
        <div class="o-table__data">
            <div class="o-confirm-btn__container js-table-actions" data-id="5" data-dropdown="table-5">
                <div class="o-confirm-btn__questions">
                    <button class="o-confirm-btn" data-question="duplicate" title="Duplicate">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#duplicate"></use>
                        </svg>
                    </button>
                    <button class="o-confirm-btn" data-question="delete" title="Delete">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="o-confirm-btn__decline">
                    <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="o-confirm-btn__accept">
                    <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#tick"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="o-table__data"><a href="#" class="o-btn o-btn--xs">edit post</a></div>
        <div class="o-table__dropdown js-table-actions-dropdown" data-dropdown-id="table-5">
            <div class="o-table__dropdown-wrap">
                <div class="o-form">
                    <div class="o-form__inline">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                        <button class="o-btn o-btn--sm o-btn--square o-btn--primary">Duplicate</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="o-table__data">Title to go here</div>
        <div class="o-table__data">Joseph</div>
        <div class="o-table__data">01 Nov 2017</div>
        <div class="o-table__data"><div class="o-status o-status--active"></div> Published</div>
        <div class="o-table__data">
            <div class="o-confirm-btn__container js-table-actions" data-id="6" data-dropdown="table-6">
                <div class="o-confirm-btn__questions">
                    <button class="o-confirm-btn" data-question="duplicate" title="Duplicate">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#duplicate"></use>
                        </svg>
                    </button>
                    <button class="o-confirm-btn" data-question="delete" title="Delete">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="o-confirm-btn__decline">
                    <button class="o-confirm-btn o-confirm-btn--danger js-confirm-decline">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="o-confirm-btn__accept">
                    <button class="o-confirm-btn o-confirm-btn--success js-confirm-accept">
                        <svg>
                            <use xlink:href="/images/svgicons.svg#tick"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="o-table__data"><a href="#" class="o-btn o-btn--xs">edit post</a></div>
        <div class="o-table__dropdown js-table-actions-dropdown" data-dropdown-id="table-6">
            <div class="o-table__dropdown-wrap">
                <div class="o-form">
                    <div class="o-form__inline">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                        <button class="o-btn o-btn--sm o-btn--square o-btn--primary">Duplicate</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
