#toast-container {
    > div {
        padding: 15px 20px;
        border-radius: 0;
        box-shadow: none;
        .toast-title {
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 700;
        }
        &:hover {
            background-color: $color-green;
            box-shadow: none;
        }
    }
    > .toast-success {
        background-image: none !important;
        background-color: $color-green;
    }
}
