h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    &.blue {
        color: $color-blue;
    }
}

h1 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 12px;
    + p {
        font-weight: 300;
        font-size: 20px;
    }
}

h2 {
    font-weight: 600;
    font-size: 18px;
    + p {
        font-weight: normal;
        font-size: 18px;
    }
}

p {
    font-weight: 300;
    margin-bottom: 9px;
}
