.c-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 210px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-top: 65px;

    &__container {
        display: flex;
        height: 100%;
    }

    &__content {
        flex: 1 1 100%;

        h2 + * {
            margin-top: 30px !important;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;

        > * + * {
            margin-top: 15px !important;
        }
    }

    &--no-space {
        padding-top: 0;
    }
}
