.c-block-list {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;

    &__container {
        border: 1px solid $secondary;
        border-top: 0;
        flex: 1 0 auto;
        overflow: auto;

        > * + * {
            border-top: 1px solid $secondary;
        }
    }

    &__search {
        position: relative;

        &-icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 24px;
                height: 24px;
                color: $secondary;
            }
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
    }
}
