.c-block {
    display: flex;
    height: 75px;
    background-color: #fff;

    &.sortable-chosen {
        background-color: $secondary-light;
    }

    &__edit {
        display: flex;
        position: relative;
        flex: 1 1 auto;
    }

    &__edit-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
        background-color: var(--primary-color);
        color: #fff;
        z-index: 1;
        opacity: 0;
        text-align: center;
        transition: opacity $userActive;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .is-dragging &__edit-btn {
        opacity: 0;
    }

    &__image,
    &__empty-image {
        width: 150px;
        height: 74px;
        position: relative;
    }

    &__image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__empty-image {
        background-color: $secondary-highlight;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 74px;

        svg {
            width: 32px;
            height: 32px;
            fill: $text-color;
        }
    }

    &__title {
        padding: 0 15px;
        display: flex;
        align-items: center;
        flex: 1 1 auto;
    }

    &__action-list {
        display: flex;
    }

    &__action,
    &__drag-handle {
        width: 65px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secondary-acc;

        &:hover {
            color: #fff;
            background-color: $primary;
            background-color: var(--primary-color);
        }

        &--no-hover:hover {
            color: $secondary-acc;
            background-color: transparent;
        }
    }

    &__icon {
        width: 32px;
        height: 32px;

        svg {
            width: 32px;
            height: 32px;
            fill: currentColor;
        }
    }
}
