.c-cropper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__container {
        position: relative;
        max-width: 1200px;
        width: 100%;
        background-color: #fff;

        > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: ratio(16, 12);
        }
    }

    &__toolbar {
        position: absolute;
        bottom: 0;
        left: 0;
        top: auto;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        > * {
            position: relative;
            display: flex;
            align-items: center;
            flex: 1 1 0;

            > * {
                z-index: 1;
            }
        }

        &-mid {
            justify-content: center;
        }

        &-right {
            justify-content: flex-end;
        }
    }

    &__btn {
        width: 48px;
        height: 48px;
        color: #aaa;

        &:hover {
            color: #fff;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 24px;
            height: 24px;
            fill: currentColor;
        }
    }

    // &__rotation-input {
    //     background-color: rgba(80, 80, 80, 0.75);
    //     border: 1px solid #aaa;
    //     width: 48px;
    //     height: 38px;
    //     color: #aaa;
    //     text-align: center;

    //     &:focus {
    //         border-color: #fff;
    //     }
    // }

    &__rotater {
        position: relative;
        width: 550px;
        height: 48px;
        color: #aaa;
        transition: color $userActive;

        &:hover {
            color: #fff;
        }

        &:after {
            content: "";
            position: absolute;
            top: -16px;
            width: 2px;
            height: 12px;
            left: 50%;
            background-color: currentColor;
        }

        &-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            -webkit-mask: linear-gradient(
                90deg,
                transparent 15%,
                #000 30%,
                #000 70%,
                transparent 85%
            );
            mask: linear-gradient(
                90deg,
                transparent 15%,
                #000 30%,
                #000 70%,
                transparent 85%
            );
        }

        &-track {
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: 1100px;
            transform: translateX(-50%);

            svg {
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    pre {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
