.c-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $secondary-highlight;

    &__title {
        min-height: 115px;
        display: flex;
        align-items: center;
        flex: 1 0 auto;

        h1 {
            margin-bottom: 0;
            color: $client-primary;
            font-size: 3.2rem !important;
        }
    }

    &__local {
        margin-left: 15px;
        display: flex;
        align-items: center;

        &-container {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

    &__nav {
        position: relative;
    }

    &__btns {
        position: absolute;
        bottom: 0;
        right: 230px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 38px;
    }
}
