.c-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $secondary-highlight;

    &__title {
        position: relative;
        min-height: 115px;
        display: flex;
        align-items: center;
        flex: 1 0 auto;

        h1 {
            margin-bottom: 0;
            color: $primary;
            color: var(--primary-color);
            font-size: 3.2rem !important;
        }

        h1 > small {
            display: block;
            margin-top: 0;
            font-size: 1.4rem;
            color: $primary;
            color: var(--primary-color);
        }

        &--deep {
            min-height: 160px;
        }
    }

    &__local {
        margin-left: 15px;
        display: flex;
        align-items: center;

        &-container {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

    &__btns {
        position: absolute;
        top: 0;
        right: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        a {
            color: $primary;
            color: var(--primary-color);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__back {
        position: absolute;
        top: 0;
        left: -40px;
        color: $primary;
        color: var(--primary-color);
        width: 48px;
        height: 100%;
        padding: 0;

        &:hover {
            color: #000;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 42px;
            height: 42px;
            transform: translate(-50%, -50%);
        }
    }
}
