.c-scroll-anim {
    &--fade-up {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity $scrollIn $easeOut, transform $scrollIn $easeOut;

        &.scroll-active {
            transform: none;
            opacity: 1;
        }
    }
}
