.c-tab {
    &__nav {
        ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 0;

            + li {
                margin-left: 10px;
            }
        }
    }

    &__btn {
        text-decoration: none;
        display: block;
        padding: 0;

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 38px;
            min-width: 135px;
            padding: 0 16px;
            background-color: $tertiary;
            color: #fff;
            font-size: 1.3rem;
            letter-spacing: 0.17em;
            font-weight: 500;
            text-transform: uppercase;
            transition: background-color $userOut $easeOut;

            svg {
                width: 30px;
                height: 30px;
                color: #fff;
            }
        }

        &.active &-container {
            color: $primary;
            color: var(--primary-color);
            background-color: #fff;

            svg {
                width: 30px;
                height: 30px;
                color: $danger;
            }
        }

        &:not(.active):hover &-container,
        &:not(.active):focus &-container {
            background-color: $primary;
            background-color: var(--primary-color);
        }
    }
}
