<div class="o-accordion js-accordion">
    <button class="o-accordion__title">
        <div class="o-accordion__title-wrap">
            <span>{{title}}</span>
            <div class="o-accordion__icon">
                <svg><use xlink:href="/images/svgicons.svg#small-tri-down"></use></svg>
            </div>
        </div>
    </button>
    <div class="o-accordion__container">
        <div class="o-accordion__content typography">{{{content}}}</div>
    </div>
</div>
