$color-white: #ffffff;
$color-black: #000000;

$color-text: #2a2a2a;

$color-grey-light: #f0f0f0;
$color-grey-accent: #b6b6b6;
$color-grey: #e1e1e1;
$color-grey-dark: #d8d8d8;

$color-grey-header: #ededed;

$color-blue: #12a3c7;
$color-red: #f66956;
$color-green: #51b989;

$color-primary-accent: #0d728b;
$color-secondary-accent: #808080;

$color-sidebar: #1f1f1f;
$color-sidebar-accent: #2b2b2b;

$text-size-sm: 14px;

$transition-sm: .3s;
