$color-white: #ffffff;
$color-black: #000000;


/*$color-primary: #12a3c7;
$color-primary-accent: rbga();*/


$color-grey-light: #f0f0f0;
$color-grey-accent: #b6b6b6;
$color-grey-dark: #d8d8d8;






$color-blue: #12a3c7;


$color-red: #f66956;
$color-green: #51b989;




$color-primary-accent: #0d728b;
$color-secondary-accent: #808080;



$color-text: #1f1f1f;
$color-sidebar: #1f1f1f;
$color-sidebar-divider: rgba(255, 255, 255, .1);



$text-size-sm: 14px;
$transition-sm: .3s;

