.c-feedback-widget {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #353535;
    overflow: hidden;

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        padding: 10px;
        flex: 0 0 65px;
    }

    &__title {
        padding-top: 20px;
        text-align: center;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &__message {
        padding: 0 25px;
        font-size: 1.4rem;
        color: #fff;
    }

    &__input {
        flex: 1 1 90%;
        width: 100%;
        padding: $gutter $full-gutter $full-gutter;
        background-color: transparent;
        border: 0 none;
        resize: none;
        color: #fff;
        font-size: 1.3rem;
    }

    &__fake-input {
        width: 100%;
        padding: $gutter $full-gutter $full-gutter;
        background-color: transparent;
        border: 0 none;
        resize: none;
        color: #fff;
        font-size: 1.3rem;
    }

    &__thank-you {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $primary;
        color: var(--primary-color);
        background-color: #353535;
    }

    &__form {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 100%;
    }

    &__part--1 {
        position: absolute;
        width: 100%;
        height: 50%;
        min-height: 50%;
        transition: transform $userInactive $easeOut;
        transform: none;
        text-overflow: ellipsis;
    }

    &__part--2 {
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 100%;
        top: 60%;
        transition: transform $userInactive $easeOut, opacity $userInactive $easeOut;
        transform: none;
    }

    &__part--3 {
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 100%;
        top: 100%;
        transition: transform $userInactive $easeOut, opacity $userInactive $easeOut;
        transform: none;
    }

    .active &__part--1  {
        transform: translateY(-110%);
        transition: transform $userActive $easeOut;
    }

    .active &__part--2  {
        transform: translateY(-60%);
        transition: transform $userActive $easeOut, opacity $userActive $easeOut;
    }



    .submitted &__part--1  {
        transform: translateY(-110%);
        transition: transform $userActive $easeOut;
    }

    .submitted &__part--2  {
        transform: translateY(-160%);
        transition: transform $userActive $easeOut, opacity $userActive $easeOut;
    }

    .submitted &__part--3  {
        transform: translateY(-100%);
        transition: transform $userActive $easeOut, opacity $userActive $easeOut;
    }
}
