.c-links-widget {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__link {
        flex: 1 1 calc(50% - #{$gutter});
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:last-child {
            margin-top: $full-gutter;
        }

        span {
            display: block;
            text-align: center;
            margin-top: 20px;
            color: white;
            text-transform: uppercase;
        }

        svg {
            width: 60px;
            height: 60px;
            color: $primary;
        }
    }
}